<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('#other').keyup(function() {
    if($(this).val() != '') {
       $('.modal-button').removeAttr('disabled');
       $("input").prop("checked", false)
    }
  });

  $("form").bind("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

  $('input').click(function() {
    if ($('input').is(':checked')){
       $('.modal-button').removeAttr('disabled');
       $('#other').val('');
    }
  });
});
</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>
<div class="answer-prompt">
  <% if cookies[:guest] != nil %>
    <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: true} do |f| %>
      <div class="form-group">
        <% if @question.input_type == "measurement" %>
          <section class="question-dual-input">
            <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["large_unit"]) %>
            <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["small_unit"]) %>
          </section>
        <% elsif @question.input_type == "collection" %>
            <%if @question.options_array.count <= 7 && !@user_submitted_answer%>
              <%@multiple_choice = Array.new()
              @question.options_array.each do |value|
                @multiple_choice << [value, value]
              end%>
              <%= f.collection_radio_buttons :value, @multiple_choice, :first, :last,item_wrapper_class: :block_radio_button_collection%>
            <%else%>
            <section id="input-dropdown">
              <%= f.input(:value, label: false, prompt: "Select an Opinion", collection: @question.options_array, input_html: { class: "answer-dropdown-input"}) %>
            </section>
            <%end%>
          <% if !@user_submitted_answer %>
          <div id="otherInput">
            <div id="otherInputBox">
                <%= f.input(:options_for_collection, label: false,input_html:{ value: nil, placeholder: "Add your own opinion to the list...", class: "other-input-text", id:"other"}) %>
            </div>
          </div>
          <% end %>
        <% end %>
        <div id="answer-button">
          <% if !@user_submitted_answer %>
            <%= f.submit "Answer & View Results", class: "modal-button", disabled: true, data: {disable_with: "Submitting..."} %>
            <%= link_to "TL;DR", report_question_path, class:"no-answer-prompt" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
