<script type="text/javascript">
$(document).ready(function() {
  $('#answer_value').change(function (e) {
    var input_dropdown = $(e.target).find(":selected").val();
    if(input_dropdown == "Add a new answer"){
      $('#answer-button').hide();
      $('#otherTextBox').show();
      }
    else{
      $('#answer-button').show();
      $('#otherTextBox').hide();
    }
  });
  $("form").bind("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

});

</script>

<div class="answer-prompt">
<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>

  <% if cookies[:guest] != nil %>
    <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
      <div class="form-group">
        <% if @question.input_type == "measurement" %>
          <section class="question-dual-input">
            <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["large_unit"]) %>
            <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["small_unit"]) %>
          </section>
        <% elsif @question.input_type == "collection" %>
          <section id="input-dropdown">
            <%= f.input(:value, label: false, prompt: "Select one...", collection: @question.options_array, input_html: { class: "questions-page-input form-control input-lg"}) %>  
          </section>
          <div id="otherTextBox">
            <% f.input(:value, input_html: { class: "questions-page-input form-control input-lg"}) %>
          </div>
        <%# else %>
          <%#= f.input(:value, label: false, placeholder: @question.placeholder(User.where(id: cookies[:guest]).first),
                       as: @question.input_type.try(:to_sym),
                       input_html: {
                         class: "questions-page-input form-control input-lg",
                         title: @question.validation_message,
                         min: @question.min_value
                       }) %>
        <% end %>
        <div class="modal-save-wrapper text-center" id="answer-button">
          <% if !@user_submitted_answer %>
            <%= f.submit "Answer", class: "modal-button", disabled: true, data: {disable_with: "Submitting..."} %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
