<!-- Report Container -->
<div class="report-container">
    <div class="compare-stats" id="c-answer">
      <div class="demographic">
        <div class="title">
          Demographic:
        </div>
        <div class="genders">
          <strong><%= answer.percent_gender[:males] %>%</strong> Male
          <strong><%= answer.percent_gender[:females] %>%</strong> Female
        </div>
        <div class="age">
          Average age: <strong><%= answer.average_age %></strong> years old
        </div>
      </div>
     
      <div class="average">
        <% if @user_submitted_answer %>
          <p class="city" style="display: none;"><%= answer.formatted_diff_average 'city' %></p>
          <p class="country"><%= answer.formatted_diff_average 'country' %></p>
          <p class="world" style="display: none;"><%= answer.formatted_diff_average 'world' %></p>
        <% end %>
      </div>
    </div>

    <%= render partial: 'common/visualization', locals: {answer: answer} %>
</div>

<div class="share-answer">
  <div class="share-answer-text">Share this answer to gain 5 points!</div>
  <%= render partial: "questions/share", locals: {
            id: question.id,
            url: "#{request.protocol}#{request.host_with_port}" + question_path(question),
            title: "#{question.label[0..25]}...",
            description: "#{question.label[0..25]}...",
            image: "#{request.protocol}#{request.host_with_port}" + question_path(question)
          }
  %>
</div>
