<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<%@tag_array = Tag.where(question_id: @question.id).order(created_at: :asc)%>

<script>

$(document).ready(function() {

  <%if user_signed_in?
        @liked_tag = Opinion.where(user_id: current_user.id, question_id: @question.id)
        @liked_tag_array = Array.new()
        @liked_tag.each do |tagId|
          @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
        end
      else
        @liked_tag = Opinion.where(user_id: cookies[:guest], question_id: @question.id)
        @liked_tag_array = Array.new()
        @liked_tag.each do |tagId|
          @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
        end
      end
    %>

    <%if !@liked_tag_array.nil?%>
      <%@liked_tag_array.each do |tag|%>
        var index = 0
        for(index; index <= <%= @tag_array.length - 1%>; index++){
          if ($('.comment-radio')[index].value == "<%= tag %>"){           
            $('.comment-radio')[index].offsetParent.style.color = "#419BF9";
          }
        }
      <%end%>
    <%end%>
  
   $('.comment-radio').on('change', function() {
     $(this).closest("form").submit();

   });

  $('.new-tag-submit').prop('disabled', true);

  $('#other').keyup(function() {
   inspectAllInputFields();
  });

  function inspectAllInputFields(){
     var count = 0;
     $('#other').each(function(i){
       if( $(this).val() === '') {
           count++;
        }
        if(count == 0){
          $('.new-tag-submit').prop('disabled', false);
          $('#other').popover('hide');
        }else {
          $('.new-tag-submit').prop('disabled', true);
        }

    });
  }

  $('#other').popover();

});

</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>

<div class="wrapper-container">
  <div class="center-container">

    <div class="comment-prompt">

      <%= simple_form_for @answer,:url => {:action => "add_comment", :controller => "answers"}, class: "form-inline", role: "form", html: {novalidate: true}, :remote => true, :method => :POST do |f| %>
        <div class="liner-title">What people say about this report:</div>

        <div class="options">
            <%if !@tag_array.nil?  %>

                <% @tag_array.each do |tag|%>
                <label class= "tag_button_collection" >
                  <%= f.radio_button :value, tag.label, :class=>"comment-radio"%>
                  <%="#{tag.label}"%>
                  <% @tag_count = tag.counter %>
                  <%= image_tag("white_up.png", class:"grey-up", :onMouseover=> "this.src='/images/teal_up.png'",:onMouseout=> "this.src='/images/white_up.png'")%>
                  <span class="tag-count">
                    <%= @tag_count %>
                  </span>
                </label>
                <%end%>
          <% end %>
        </div>
        <br>
        <div id="otherInputBox" >
            <%= hidden_field_tag 'question_id', @question.id %>
            <%= f.label "Add a one liner:", class: "new-tag" %>
            <%= f.input(:options_for_collection, label: false,input_html:{ 'data-toggle'=>"popover", 'data-trigger'=>"hover", 'data-placement'=>"top", 'data-content'=>'ex. "Awesome", "Cool", or "Intresting"', value: nil, placeholder: "What do you think of this report?", class: "other-input-text", id:"other"}) %>
            <%= f.submit "Submit", class: "new-tag-submit" %>
        </div>
      </div>
        <br>
      <% end %>

      <%if !@question.image_link.nil?%>
        <%= image_tag("/system/uploads/" + @question.image_link, alt:"image",class: "report-image-thumb")%>
      <% end %>
    </div>
  </div>
</div>
