<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
   data-type="facebook"
   data-url="<%= url %>"
   data-title="<%= title %>"
   data-description="<%= title %>"
   data-media="<%= image %>"
   id="fb-share-<%= id %>"
   class='share-link'>
  <% if @question.shared_image && @question.value_type == "tag"%>
    <img class="share-image" src="<%= image_path 'fb-grey-logo.png' %>" height="30" width="30">
  <% else %>
    <img class="share-image" src="<%= image_path 'image-share-facebook-blue.png' %>" height="30" width="30">
  <% end %>
</a>

<a href="https://twitter.com/home?status=<%= title %> <%= url %>"
   data-type="twitter"
   data-url="<%= url %>"
   data-description="<%= title %>"
   data-via="arima_io"
   id="twitter-share-<%= id %>"
   class="share-link">
  <% if @question.shared_image && @question.value_type == "tag"%> 
    <img class="share-image" src="<%= image_path 'twitter-grey-logo.png' %>" height="30" width="30">
  <% else %>
    <img class="share-image" src="<%= image_path 'image-share-twitter-blue.png' %>" height="30" width="30">
  <% end %>
</a>

<a href="//www.reddit.com/submit"
   onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"
   class="share-link">
  <% if @question.shared_image && @question.value_type == "tag"%>
    <img class="share-image" src="<%= image_path 'reddit-grey-logo.png' %>" height="30" width="30">
  <% else %>
    <img class="share-image" src="<%= image_path 'image-share-reddit-blue.png' %>" height="30" width="30">
  <% end %>
</a>
