<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
   data-type="facebook"
   data-url="<%= url %>"
   data-title="<%= title %>"
   data-description="<%= title %>"
   data-media="<%= image %>"
   id="fb-share-<%= id %>"
   style="margin-left: 10px;"
   class='share-link hidden-xs'>
    <img class="share-image" src="<%= image_path 'fb-grey-logo.png' %>" height="25" width="25">
</a>

<a href="https://twitter.com/home?status=<%= title %> <%= url %>"
   data-type="twitter"
   data-url="<%= url %>"
   data-description="<%= title %>"
   data-via="arima_io"
   id="twitter-share-<%= id %>"
   style="margin-left: 10px;"
   class="share-link hidden-xs">
    <img class="share-image" src="<%= image_path 'twitter-grey-logo.png' %>" height="25" width="25">
</a>

<a href="//www.reddit.com/submit"
   onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"
   style="margin-left: 10px;"
   class="share-link hidden-xs">
    <img class="share-image" src="<%= image_path 'reddit-grey-logo.png' %>" height="25" width="25">
</a>
