<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
   data-type="facebook"
   data-url="<%= url %>"
   data-title="<%= title %>"
   data-description="<%= title %>"
   data-media="<%= image %>"
   id="fb-share-<%= id %>"
   class='share-link'>
  <img class="share-image" src="<%= image_path 'image-share-facebook.png' %>" height="30" width="30">
</a>

<a href="https://twitter.com/home?status=<%= title %> <%= url %>"
   data-type="twitter"
   data-url="<%= url %>"
   data-description="<%= title %>"
   data-via="arima_io"
   id="twitter-share-<%= id %>"
   class="share-link">
  <img class="share-image" src="<%= image_path 'image-share-twitter.png' %>" height="30" width="30">
</a>

<a href="//www.reddit.com/submit"
   onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"
   class="share-link">
   <img class="share-image" src="<%= image_path 'image-share-reddit.png' %>" height="30" width="30">
</a>
