<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
   data-type="facebook"
   data-url="<%= url %>"
   data-title="<%= title %>"
   data-description="<%= title %>"
   data-media="<%= image %>"
   id="fb-share-<%= id %>"
   style="margin-left: 5px;"
   class='share-link hidden-xs'>
    <img class="share-image" src="<%= image_path 'image-share-facebook.png' %>" height="23" width="23">
</a>

<a href="https://twitter.com/home?status=<%= title %> <%= url %>"
   data-type="twitter"
   data-url="<%= url %>"
   data-description="<%= title %>"
   data-via="arima_io"
   id="twitter-share-<%= id %>"
   style="margin-left: 5px;"
   class="share-link hidden-xs">
    <img class="share-image" src="<%= image_path 'image-share-twitter.png' %>" height="23" width="23">
</a>

<a href="//www.reddit.com/submit"
   onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"
   style="margin-left: 5px;"
   class="share-link hidden-xs">
    <img class="share-image" src="<%= image_path 'image-share-reddit.png' %>" height="23" width="23">
</a>
