<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<%@tag_array = Tag.where(question_id: @question.id).order(created_at: :asc)%>

<script>

$(document).ready(function() {

  var checkbox = $('.form-radio');

  <%if user_signed_in?
      @liked_tag = Opinion.where(user_id: current_user.id, question_id: @question.id)
      @liked_tag_array = Array.new()
      @liked_tag.each do |tagId|
        @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
      end
    else
      @liked_tag = Opinion.where(user_id: cookies[:guest], question_id: @question.id)
      @liked_tag_array = Array.new()
      @liked_tag.each do |tagId|
        @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
      end
    end
  %>

  $('input[type=radio]').not(':checked').parent().removeClass('checked'); //Remove checked class from all other radios that are not checked
  $('input[type=radio]').not(':checked').siblings().removeClass('checked').css("color", "#4a4a4a");

  <%if !@liked_tag_array.nil?%>
    <%@liked_tag_array.each do |tag|%>
      index = 0
      for(index; index <= <%= @tag_array.length - 1%>; index++){
        if ($('input[type=radio]')[index].value == "<%= tag %>"){
          $('input[type=radio]')[index].offsetParent.style.color = "#419BF9";
          $('input[type=radio]')[index].offsetParent.style.border = "thin solid #419BF9";
          $('input[type=radio]')[index].offsetParent.setAttribute("class", "checked tag_button_collection");

          $('input[type=radio]')[index].nextElementSibling.src = "/images/blue_up.png";
          $('input[type=radio]')[index].nextElementSibling.onmouseout = null
          $('input[type=radio]')[index].nextElementSibling.onmouseover = null
          $('input[type=radio]')[index].nextElementSibling.setAttribute("class", "blue-up");
          $('input[type=radio]')[index].nextElementSibling.nextElementSibling.style.color = "#419BF9";
        }
      }
    <%end%>
  <%end%>

  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
  });

  $('.new-tag-submit').prop('disabled', true);
  $('#other').keyup(function() {
   inspectAllInputFields();
  });
  function inspectAllInputFields(){
     var count = 0;
     $('#other').each(function(i){
       if( $(this).val() === '') {
           count++;
        }
        if(count == 0){
          $('.new-tag-submit').prop('disabled', false);
        }else {
          $('.new-tag-submit').prop('disabled', true);
        }

    });
  }

  $('#other').popover();

});

</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>

<div class="tag-prompt">
  <%= simple_form_for @answer,:url => {:action => "add_tag", :controller => "answers"}, class: "form-inline", role: "form", html: {novalidate: true}, :remote => true do |f| %>
   
    <br>
    <div class="options">
        <%if !@tag_array.nil?  %>

            <% @tag_array.each do |tag|%>
            <label class= "tag_button_collection" >
              <%= f.radio_button :value, tag.label, :class=>"form-radio"%>
              <%="#{tag.label}"%>
              <% @tag_count = tag.counter %>
              <%= image_tag("grey_up.png", class:"grey-up", :onMouseover=> "this.src='/images/blue_up.png'",:onMouseout=> "this.src='/images/grey_up.png'")%>
              <span class="tag-count">
                <%= @tag_count %>
              </span>
            </label>
            <%end%>
      <% end %>
    </div>
    <br>
    <div id="otherInputBox">
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= f.label "Add a one liner", class: "new-tag" %>
        <%= f.input(:options_for_collection, label: false,input_html:{ 'data-toggle'=>"popover", 'data-trigger'=>"hover", 'data-placement'=>"top", 'data-content'=>"ex. Love it, Meh, or Awesome picture", value: nil, placeholder: "What do you think of this image?", class: "other-input-text", id:"other"}) %>
        <%= f.submit "", class: "new-tag-submit" %>
    </div>
    <br>
  <% end %>

</div>
