<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<%@tag_array = Tag.where(question_id: @question.id).order(created_at: :asc)%>

<script>

$(document).ready(function() {
  
  <%answer = Answer.new(question_id: @question.id, user_id: current_user.id)%>
  data_answer = <%= answer.data_array('world').html_safe %>;
  //Donut chart
  var chart_answer = c3.generate({
    size: { width: $(window).width() - 100,
            height: 450 },
    data: {
      x: null,
      columns: data_answer,
      type: 'donut'
    },
    axis: {
      x: {
        label: {
          text: 'Answer Distribution',
          position: 'outer-center'
        }
      },
      y: {
        label: {
          text: 'Number of Votes',
          position: 'outer-middle'
        }
      }
    },
    tooltip: {
      format: {
        title: function (d) { return null; },
        value: function (value, ratio, id) {
          var sum = data_answer[data_answer.selected].reduce(function(p, c) {
            return p + c[1];
          }, 0);
          return (value / sum * 100).toFixed(1) + '%';
        }
      },
      contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
        d.forEach(function(el){ el.name = el.value })
        return this.getTooltipContent ?
          this.getTooltipContent(d, defaultTitleFormat, defaultValueFormat, color) : '';
      }
    }
  });

  $("#answer-world").append(chart_answer.element);

  window.addEventListener("resize", myFunction);

  function myFunction() {
    chart_answer.resize({width: document.getElementsByClassName('tab-content').clientWidth});
  }
  //Donut chart END


  // $('input[type=radio]').on('change', function() {
  //   $(this).closest("form").submit();

  // });

  $('.new-tag-submit').prop('disabled', true);

  $('#other').keyup(function() {
   inspectAllInputFields();
  });

  function inspectAllInputFields(){
     var count = 0;
     $('#other').each(function(i){
       if( $(this).val() === '') {
           count++;
        }
        if(count == 0){
          $('.new-tag-submit').prop('disabled', false);
          $('#other').popover('hide');
        }else {
          $('.new-tag-submit').prop('disabled', true);
        }

    });
  }

  $('#other').popover();

});

</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>

<div style="background-color: #FAFAFA;" id="share-image-world">
  <div id="donut-caption">This is what people think about the image:</div>
  <div id="answer-world" class='answer-chart'></div>
</div>

<div class="wrapper background-container">
  <div class="wrapper center-container">

    <%= image_tag("/system/uploads/" + @question.image_link, alt:"image",class: "image_thumb")%>

    <div class="tag-prompt" style="float: left; background-color: #212124;">

      <%= simple_form_for @answer,:url => {:action => "add_tag", :controller => "answers"}, class: "form-inline", role: "form", html: {novalidate: true}, :remote => true do |f| %>
        <div id="liner-title">What people say about this image:</div>

        <div class="options">
            <%if !@tag_array.nil?  %>

                <% @tag_array.each do |tag|%>
                <label class= "tag_button_collection" >
                  <%= f.radio_button :value, tag.label, :class=>"form-radio"%>
                  <%="#{tag.label}"%>
                  <% @tag_count = tag.counter %>
                  <%= image_tag("white_up.png", class:"grey-up", :onMouseover=> "this.src='/images/teal_up.png'",:onMouseout=> "this.src='/images/white_up.png'")%>
                  <span class="tag-count">
                    <%= @tag_count %>
                  </span>
                </label>
                <%end%>
          <% end %>
        </div>
        <br>
        <div id="otherInputBox" >
            <%= hidden_field_tag 'question_id', @question.id %>
            <%= f.label "Add a one liner:", class: "new-tag" %>
            <%= f.input(:options_for_collection, label: false,input_html:{ 'data-toggle'=>"popover", 'data-trigger'=>"hover", 'data-placement'=>"top", 'data-content'=>"ex. Great composition, or Fantastic scenery", value: nil, placeholder: "What do you think of this image?", class: "other-input-text", id:"other"}) %>
            <%= f.submit "", class: "new-tag-submit" %>
        </div>
      </div>
        <br>
      <% end %>


    </div>
  </div>
</div>
