<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<%= javascript_include_tag "markerwithlabel" %>
<%= javascript_include_tag "jquery.knob" %>

<script type="text/javascript">
/**
  var rating1;
  var rating2;
  var rating3;

  $(function() {
    $('.dial').knob();
  });
**/

  $(document).ready(function() {
    /**
    document.getElementById("knob-submit").onclick = calculateTotal;

    function calculateTotal() {
      document.getElementById("score-board").style.display = "block";

      rating1 = $('.dial')[0].value;

      var total = parseInt(rating1);

      var average = Math.random() * (10 - 7) + 7;

      average = average.toFixed(1);

      document.getElementById("your-score").innerHTML = total;
      document.getElementById("average-score").innerHTML = average;
      document.getElementById("plus-minus").innerHTML = (total - average).toFixed(1);

	    var $target = $('#score-board');

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = '#score-board';
	    });
    };
    **/
/**
    <%#if Opinion.where(user_id: user_signed_in? ? current_user.id : cookies[:guest], question_id: @question.id).count >= 1%>
      //document.getElementById("map-canvas").style.display = 'block';
      //document.getElementById("blurred-map").style.display = 'none';

      initialize("");
    <%#end%>
**/

<%

@u_id = user_signed_in? ? current_user.id : cookies[:guest]

answer = Answer.new(question_id: @question.id, user_id: @u_id)%>
data_answer = <%= answer.data_array('world').html_safe

%>;
//Donut chart
var chart_answer = c3.generate({
  size: { width: $(window).width() - 100,
          height: 450 },
  data: {
    x: null,
    columns: data_answer,
    type: 'donut'
  },
  axis: {
    x: {
      label: {
        text: 'Answer Distribution',
        position: 'outer-center'
      }
    },
    y: {
      label: {
        text: 'Number of Votes',
        position: 'outer-middle'
      }
    }
  },
  tooltip: {
    format: {
      title: function (d) { return null; },
      value: function (value, ratio, id) {
        var sum = data_answer.reduce(function(p, c) {
          return p + c[1];
        }, 0);
        return (value / sum * 100).toFixed(1) + '%';
      }
    },
    contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
      d.forEach(function(el){ el.name = el.value })
      return this.getTooltipContent ?
        this.getTooltipContent(d, defaultTitleFormat, defaultValueFormat, color) : '';
    }
  }
});

$("#answer-world").append(chart_answer.element);

window.addEventListener("resize", myFunction);

function myFunction() {
  chart_answer.resize({width: $(window).width() - 100});
}
//Donut chart END
  });


/**
  var user_lat = <%#= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.latitude %>;
  var user_long = <%#= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.longitude %>;

  var mapOptions;

  var map;

  function initialize(tag_label) {
      if(tag_label.length > 0 && tag_label != -1){
        //if there are no tags in the db for this question then it will hit this condition. it will create the first marker so add_tag works
        mapOptions = {
          zoom: 4,
          center: new google.maps.LatLng(user_lat, user_long)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new MarkerWithLabel({
            position: new google.maps.LatLng(user_lat, user_long),
            map: map,
            labelContent: "You",
            labelClass: "tag-labels"
        });

        google.maps.event.addDomListener(window, 'load', initialize);


    }else {
      //When someone clicks a question it first displays all of the tags on the map (if there are any) AND creates the google map object
      <%#  opinion = Opinion.new
          loc_arr = opinion.user_lat_long_all(question.id)
      %>

      mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(user_lat, user_long)
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var element = document.getElementById('map-canvas');

      element.gMap = map;

      <%# loc_arr.each do |location| %>
        if(tag_label != -1){
          //initializing the map when the user clicks the question
          if((user_lat != <%#= location[0][0] %>) && (user_long != <%#= location[0][1] %>)){
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%#= location[0][0] %>, <%#= location[0][1] %>),
                map: map,
                labelContent: "<%#= location[1] %>",
                labelClass: "tag-labels"
            });
          }else {
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%#= location[0][0] %>, <%#= location[0][1] %>),
                map: map,
                labelContent: "You",
                labelClass: "tag-labels"
            });
          }
        }else{
          //initializing the map because all tags were deselected by the user.
          if((user_lat != <%#= location[0][0] %>) && (user_long != <%#= location[0][1] %>)){
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%#= location[0][0] %>, <%#= location[0][1] %>),
                map: map,
                labelContent: "<%#= location[1] %>",
                labelClass: "tag-labels"
            });
          }
        }
      <%# end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  }

  function add_tag(){

    var marker = new MarkerWithLabel({
       position: new google.maps.LatLng(<%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.latitude %>, <%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.longitude %>),
       map: map,
       labelContent: "You",
       labelClass: "tag-labels"
    });

    map.setCenter(marker.getPosition());

  }
**/
</script>

<div id="share-image-world">
  <div id="donut-caption">This is what people think about the image:</div>
  <div id="answer-world" class='answer-chart'></div>
</div>

<!--
<div class="a-dial">
  <input type="text" value="7" class="dial" data-max="10" data-angleOffset=-125 data-angleArc=250 data-fgColor="#419BF9" data-width="300" data-height="300">
  <%#= link_to "Give a Rating", upvote_question_path(:id => @question.id), :method => :put, :remote => true, :id => "knob-submit", :class => "animated bounce bounce-center"%>
</div>

<div id="score-board" style=" display: none; float: left; margin: 0 auto; width: 500px; height: 50px; margin-top: 450px; padding-bottom:200px; position: relative; left: 38%;">
  <div style="display: inline; float: left;">
    <span style="color: #419BF9; font-size: 1.5em; font-weight: bold;">Your Score</span>

    <span id="your-score" style="color:#419BF9; display: block; font-size: 2em; text-align: center; font-weight: bold;">1</span>
  </div>

  <div style="display: inline; float:left; padding-left: 2.8em; padding-right: 3em;">
    <span style="color: #7ed321; font-size: 1.5em; font-weight: bold;">Average Score</span>

    <span id="average-score" style="color: #7ed321; display: block; font-size: 2em; text-align: center; font-weight: bold;">1</span>
  </div>

  <div style="display: inline; float:left;">
    <span style="color: #FF808F; font-size: 1.5em; font-weight: bold;">+/-</span>

    <span id="plus-minus" style="color: #FF808F; display: block; font-size: 2em; text-align: center; font-weight: bold;">1</span>
  </div>
</div>

<center style="color: #7ed321; font-weight: 500; font-size: 18px; margin-bottom: 1em;" class="hidden">Where voters are from</center>
-->
<%#= image_tag("map_blur.png", height: '600', width: '900', id: "blurred-map", class: "hidden-xs") %>
<%#= image_tag("map_blur.png", height: '300', width: '100%', id: "blurred-map", class: "visible-xs") %>

<div id="map-canvas" style="height: 600px; width: 900px; margin: 0; padding-bottom: 50px; display: none;" class="hidden"></div>
