<head>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
<%#= stylesheet_link_tag "jquery-ui-slider-pips" %>
<%#= stylesheet_link_tag "dropzone" %>

<%#= javascript_include_tag "jquery-ui-slider-pips" %>
<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
<%#= javascript_include_tag "dropzone" %>
</head>

<script>



  $(document).ready(function() {

    $("input#question_image_link").change(function () {
      console.log("here");
      //$('#question_image_link')[0].style.visibility = "hidden";
      //$('.computer_image')[0].style.visibility = "hidden";
      $('.image_wrapper')[0].style.display = "none";
      $('.computer_image_mobile')[0].style.display = "none";

      //$('.submit-q-container')[0].style.visibility = "visible";
      //$('.modal-finished-button')[0].style.visibility = "visible";
      //$('.g-recaptcha')[0].style.visibility = "visible";

      $('.mobile-q-new')[0].style.display = "block";
      $('.mobile-q-submit')[0].style.display = "block";
      $('.g-recaptcha')[0].style.display = "block";
    });

    // Make sure the add answer button is showing
    //$("#add-answer-button").css("display", "block");
    <%#if params[:question].nil?%>
      //$('.numeric-slider').addClass("field-hidden");
      //document.getElementById('shared_image').value = true;
      //document.getElementById('answer-types').style.display = "none";
      //document.getElementById('numeric_value').value = false;
    <%#else%>
      //document.getElementById('shared_image').value = false;
      //document.getElementById('numeric_value').value = false;
    <%#end%>

    //var answerBoxCounter = 2;
    //var MAX_BOX_COUNT = 12;

    //var funnyList = ["Hahah", "LOL", "LOL (not really)", "WTF", "Love it", "Meh"];
    //var educationalList = ["So True", "Very deep", "This is like my life",
    //"No! Not at all", "Yeah, there is maybe some truth in it.", "Nah", "TIL"];
    //var sportsList = ["Amazing skills", "True Legend", "Meh, who cares?",
    //"Seriously? I can do better", "Sexy as fuck", "Respect"];
    //var foodList = ["This looks amazing", "I am hungry", "It's alright, not really my taste",
    //"Ewwwwwww", "WTF??"];

    /**$('.numeric-slider').click(function(){
      $('#select-title').addClass("field-hidden");
      $('.check-box-container').addClass("field-hidden");
      $('.multiple-choice-container').addClass("field-hidden");
      $('.multiple-choice-description').addClass("field-hidden");
      $(".numeric-slider-toggle").addClass("ask-question-toggle-active");
      $(".multiple-choice-toggle").removeClass("ask-question-toggle-active");
      $('.numeric-slider-container').removeClass("field-hidden");
      $('.numeric-slider-description').removeClass("field-hidden");
      <% if !params[:question].nil? %>
      $('.check-box-container').addClass("field-hidden");
      <% end %>
      document.getElementById('numeric_value').value = true;
    });**/

    /**$('.multiple-choice').click(function(){
      $('.check-box-container').addClass("field-hidden");
      $('#select-title').removeClass("field-hidden");
      $('.numeric-slider-container').addClass("field-hidden");
      $('.numeric-slider-description').addClass("field-hidden");
      $(".multiple-choice-toggle").addClass("ask-question-toggle-active");
      $(".numeric-slider-toggle").removeClass("ask-question-toggle-active");
      $('.multiple-choice-container').removeClass("field-hidden");
      $('.multiple-choice-description').removeClass("field-hidden");
      <% if !params[:question].nil? %>
      $('.check-box-container').removeClass("field-hidden");
      <%end%>
      document.getElementById('numeric_value').value = false;
    });**/

    /**$(".slider").slider({max: 10, min: 1, step: 1}).slider("pips", {rest: "label", step: 1}).slider("float");

    $(".add-answer").click(function() {
      // add another answer text box when clicked under existing text box.
      var newBoxNumber = answerBoxCounter + 1;

      if (newBoxNumber <= MAX_BOX_COUNT) {
        var newHtml = '<input type="text" name="answer_box_' + newBoxNumber +'" id="answer-box-' + newBoxNumber +'" class="answer-box" placeholder="Answer here">';

        $(".answer-type-input-box").append(newHtml);
        answerBoxCounter++;
      } else {
        return false;
      }
    });**/

     /**$(".default-answer").click(function() {
       $("#default-answer-menu").css("display", "inline-block");
       return false;
     });

     $('#default-answer-menu > li > a').click(function(){
        if ($(this).attr('class') != 'active'){
          $('#default-answer-menu li ul').slideUp();
          $(this).next().slideToggle();
          $('#default-answer-menu li a').removeClass('active');
          $(this).addClass('active');
        }
        return false;
      });

      $('.funny-default').click(function(){
       if(answerBoxCounter < funnyList.length){
         for(i = 1; i <= answerBoxCounter; i++){
           document.getElementById("answer-box-" + i).value = funnyList[i-1];
         }
         for(j = answerBoxCounter + 1; j <= funnyList.length; j++){
           var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + funnyList[j-1] +'" class="answer-box" placeholder="Answer here">';
           $(".answer-type-input-box").append(newHtml);
           answerBoxCounter++;
         }
       }
       else{
         for(i = 1; i <= answerBoxCounter; i++){
           if(i <= funnyList.length){
             document.getElementById("answer-box-" + i).value = funnyList[i-1];
           }
           else {
             document.getElementById("answer-box-" + i).value = "";
           }
         }
       }
       return false;
     });

     $('.educational-default').click(function(){
        if(answerBoxCounter < educationalList.length){
          for(i = 1; i <= answerBoxCounter; i++){
            document.getElementById("answer-box-" + i).value = educationalList[i-1];
          }
          for(j = answerBoxCounter + 1; j <= educationalList.length; j++){
            var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + educationalList[j-1] +'" class="answer-box" placeholder="Answer here">';
            $(".answer-type-input-box").append(newHtml);
            answerBoxCounter++;
          }
        }
        else{
          for(i = 1; i <= answerBoxCounter; i++){
            if(i <= educationalList.length){
              document.getElementById("answer-box-" + i).value = educationalList[i-1];
            }
            else {
              document.getElementById("answer-box-" + i).value = "";
            }
          }
        }
        return false;
      });

      $('.sports-default').click(function(){
         if(answerBoxCounter < sportsList.length){
           for(i = 1; i <= answerBoxCounter; i++){
             document.getElementById("answer-box-" + i).value = sportsList[i-1];
           }
           for(j = answerBoxCounter + 1; j <= sportsList.length; j++){
             var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + sportsList[j-1] +'" class="answer-box" placeholder="Answer here">';
             $(".answer-type-input-box").append(newHtml);
             answerBoxCounter++;
           }
         }
         else{
           for(i = 1; i <= answerBoxCounter; i++){
             if(i <= sportsList.length){
               document.getElementById("answer-box-" + i).value = sportsList[i-1];
             }
             else {
               document.getElementById("answer-box-" + i).value = "";
             }
           }
         }
         return false;
       });

       $('.food-default').click(function(){
          if(answerBoxCounter < foodList.length){
            for(i = 1; i <= answerBoxCounter; i++){
              document.getElementById("answer-box-" + i).value = foodList[i-1];
            }
            for(j = answerBoxCounter + 1; j <= foodList.length; j++){
              var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + foodList[j-1] +'" class="answer-box" placeholder="Answer here">';
              $(".answer-type-input-box").append(newHtml);
              answerBoxCounter++;
            }
          }
          else{
            for(i = 1; i <= answerBoxCounter; i++){
              if(i <= foodList.length){
                document.getElementById("answer-box-" + i).value = foodList[i-1];
              }
              else {
                document.getElementById("answer-box-" + i).value = "";
              }
            }
          }
          return false;
        });**/




     /**$('#value_type').change(function(){
        if($(this).val() != "collection"){
          $("#answer-types").css('display','none');
        }
        else{
        $("#answer-types").css('display','block');
        }
     })

     function updateCountdown() {
    // 140 is the max message length
    var remaining = 150 - jQuery('#input-q-title').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
  }**/

    /**jQuery(document).ready(function($) {
    updateCountdown();
    $('#input-q-title').change(updateCountdown);
    $('#input-q-title').keyup(updateCountdown);
  });**/
  });

</script>
<!-- Submit Question Modal -->
<section style="width: 70%; margin:auto; margin-top: 3em; padding-bottom: 80px;">

        <%#if !params[:question].nil?%>
          <%#=image_tag "link_blue.png", size: "28x28", class: "question-icon" %>
          <!--<p class="submit-q-input-box">
            <%#= f.text_field :image_link, name: "image_link", placeholder: "Paste a URL here to attach an image (We currently only support imgur)", id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>-->
        <%#else%>
          <%#=image_tag "link.png", size: "28x28", class: "question-icon" %>
          <!--<p class="submit-q-input-box">
            <%#= f.text_field :image_link, name: "image_link",
            placeholder: "Paste a URL here to attach an image (We currently only support imgur)",
            id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>-->
        <%#end%>


      <!--<article class="submit-q-container">
          <p class=<%#= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            Select a Category:
          </p>
          <p class="submit-q-dropdown">

            <% [["Money Matters", 1],
                ["Health & Fitness", 2],
                ["Education & Knowledge", 3],
                ["Electronics & Gadgets", 4],
                ["Business & Career", 5],
                ["Sports", 6],
                ["Gaming", 14],
                ["Travel", 8],
                ["Food", 9],
                ["Current Events", 10],
                ["Lifestyle", 12],
                ["Politics", 13],
                ["Entertainment", 7]
                ].each do |group| %>
                <label class="group-icon">
                  <%#= radio_button_tag :group_id, group.last, checked = false%>
                  <%#= image_tag("category_nav_icons_circular/#{group.last}.png")%>
                    <%# if group.first == "Money Matters" %>
                      <%#= "Money" %>
                    <%# elsif group.first == "Health & Fitness"%>
                      <%#= "Health" %>
                    <%# elsif group.first == "Education & Knowledge"%>
                      <%#= "Education" %>
                    <%# elsif group.first == "Electronics & Gadgets"%>
                      <%#= "Electronics" %>
                    <%# elsif group.first == "Business & Career"%>
                      <%#= "Business" %>
                    <%# elsif group.first == "Current Events"%>
                      <%#= "Current" %>
                    <%# else %>
                      <%#= "#{group.first}" %>
                    <%# end %>
                </label>
                <% end %>
          </p>
      </article>-->

      <!--
      <article class="submit-q-container add-answer-container">
          <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            <%= !params[:question].nil? ? "Select Answer Option:" : "Select Rating Option:"%>
          </p>
          <p class="submit-q-dropdown">
            <div class="ask-questions-toggle-container" style="text-align:center;">

              <a class="multiple-choice" data-toggle="pill">
                <div class="multiple-choice-toggle ask-question-toggle-active">
                  <p id="multiple-choice-label" data-toggle="pill"><%= params[:question].nil? ? "Image Tag" : "Multiple Choice" %></p>
                </div>
              </a>

              <a class="numeric-slider" data-toggle="pill">
                <div class="numeric-slider-toggle">
                  <p id="numeric-slider-label" data-toggle="pill">Numeric Slider</p>
                </div>
              </a>
            </div>
            <%#= select_tag(:value_type, options_for_select([
              ["Multiple Choice", "collection"]#,
              #["Numerical Value", "quantity"]
            ]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
          </p>

          <section class="selected-multiple-choices" id="answer-types">
            <p id="select-title" class="<%= !params[:question].nil? ? "modal-input-title " : "modal-share-input-title "%>">
              <%#= !params[:question].nil? ? "Add your Answer Choices:" : "Add your Image Tags:"%>
            </p>
            <p class="multiple-choice-description" style="margin-left:2.6em;">Maximum of 12 <%#= !params[:question].nil? ? "answers" : "tags"%>, empty boxes will not be added.</p>
            <p class="numeric-slider-description <%#= "field-hidden" if (!params[:question].nil? || params[:question].nil?)%>" style="margin-left:2.6em; padding-top: 15px;">Other users will use the slider below to give your submission a rating between 1 and 10.</p>

            <div class="numeric-slider-container <%#= "field-hidden" if (!params[:question].nil? || params[:question].nil?)%>" style="height:50px; margin-top: 20px; width: 80%; margin-left: 3.2em; ">

              <div class="slider"></div>
            </div>

            <%#= hidden_field_tag 'numeric_value'%>
            <%#= hidden_field_tag 'shared_image'%>

              <div class="multiple-choice-container">
                <section class="submit-input-container" style="margin-left: 2.5em;">

                  <div class="answer-type-input-box">
                    <input type="text" name="answer_box_1" id="answer-box-1" class="answer-box" placeholder="<%#= !params[:question].nil? ? "Answer here" : "Image tag here"%>">
                    <input type="text" name="answer_box_2" id="answer-box-2" class="answer-box" placeholder="<%#= !params[:question].nil? ? "Answer here" : "Image tag here"%>">
                  </div>
                </section>
                <input type="button" value="<%#= !params[:question].nil? ? "+ Add another answer" : "+ Add another tag" %>"
                class="add-answer-button add-answer" id=<%#= !params[:question].nil? ? "blue-button" : "orange-button" %> />

                <button type='button' class="add-answer-button default-answer" id="green-button">Use Default Rating Choices</button>

                <div style="clear: both;"></div>


                <div style="float: left;">
                <ul id="default-answer-menu">
                  <li><a href="#">Funny</a>
                    <ul>
                      <li>Hahaha</li>
                      <li>LOL</li>
                      <li>LOL (not really)</li>
                      <li>WTF</li>
                      <li>Love it</a></li>
                      <li>Meh</li>
                      <button type='button' class="add-answer-button add-default funny-default" id="green-button">Use this Default</button>
                    </ul>
                  </li>
                  <li><a href="#">Educational</a>
                    <ul>
                      <li>So True</li>
                      <li>Very deep</li>
                      <li>This is like my life</li>
                      <li>NO! Not at all</li>
                      <li>Yeah, there is maybe some truth in it.</li>
                      <li>Nah</li>
                      <li>TIL</li>
                      <button type='button' class="add-answer-button add-default educational-default" id="green-button">Use this Default</button>
                    </ul>
                  </li>
                  <li><a href="#">Sports</a>
                    <ul>
                      <li>Amazing skills</li>
                      <li>True Legend</li>
                      <li>Meh, who cares?</li>
                      <li>Seriously? I can do better</li>
                      <li>Sexy as fuck</li>
                      <li>Respect</li>
                      <button type='button' class="add-answer-button add-default sports-default" id="green-button">Use this Default</button>
                    </ul>
                  </li>
                  <li><a href="#">Food</a>
                    <ul>
                      <li>This looks amazing</li>
                      <li>I am hungry</li>
                      <li>It's alright, not really my taste</li>
                      <li>Ewwwwww</li>
                      <li>WTF??</li>
                      <button type='button' class="add-answer-button add-default food-default" id="green-button">Use this Default</button>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            </section>

      </article>-->



      <%# if user_signed_in? && current_user.username.present? %>
      <!--<div class="check-box-container <%= "field-hidden" if params[:question].nil?%>">
        <p class="check-box"><%#= check_box_tag "checked[#{current_user.id}]","true", true %></p>
        <p>Allow other users to add answers</p>
      </div>-->
      <%# end %>

</section><!-- /.modal -->



<%= form_for Question.new do |f| %>
<section class="submit-questions-container" style="margin-left: auto; margin-right: auto; width: 200px; height: 400px;">
  <%= image_tag("Computer.png", class: "computer_image_mobile")%>
  <article class="submit-q-container mobile-q-new">
    <p class="submit-q-input-box">
      <%= f.text_field :label, name: "submit_question_name", :required => true,
      placeholder: "Add a Title/Description", id: "input-q-title" %>
      <div style="clear: both;"></div>
      <span class="countdown"></span>
    </p>
  </article>

  <div style="clear: both; margin-bottom: 40px;"></div>

  <p class="file image_wrapper">
    <%= f.file_field :image_link %>
    <label for="file">Upload your image</label>
  </p>

  <div style="clear: both; margin-bottom: 20px;"></div>

  <%= recaptcha_tags  class: "captcha captcha-mobile"%>

  <span class="modal-finished-container">
    <%= f.submit "Submit", class: "modal-finished-button mobile-q-submit", id: !params[:question].nil? ? "blue-button" : "orange-button" %>
  </span>
  </section>
<% end %>
<%if params[:question].nil?
    cookies[:share] = 1
  end
%>
