<script>
  $(document).ready(function() {
    // Make sure the add answer button is showing
    $("#add-answer-button").css("display", "block");

    var answerBoxCounter = 2;
    var MAX_BOX_COUNT = 12;

     $("#add-answer-button").click(function() {
       // add another answer text box when clicked under existing text box.
       var newBoxNumber = answerBoxCounter + 1;

       if (newBoxNumber <= MAX_BOX_COUNT) {
         var newHtml = '<input type="text" name="answer_box_' + newBoxNumber +'" id="answer-box-' + newBoxNumber +'" class="answer-box" placeholder="Answer here">';

         $(".answer-type-input-box").append(newHtml);
         answerBoxCounter++;
       } else {
         $("#add-answer-button").css("display", "none");
       }
     });

     $('#value_type').change(function(){
        if($(this).val() != "collection"){
          $("#answer-types").css('display','none');
        }
        else{
        $("#answer-types").css('display','block');
        }
     })

     function updateCountdown() {
    // 140 is the max message length
    var remaining = 150 - jQuery('#input-q-title').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
    }

      jQuery(document).ready(function($) {
      updateCountdown();
      $('#input-q-title').change(updateCountdown);
      $('#input-q-title').keyup(updateCountdown);
      });
  });

</script>
<!-- Submit Question Modal -->
<section style="width: 70%; margin:auto; margin-top: 3em;">
    <%= form_for Question.new do |f|%>
    <section class="submit-questions-container">
      <article class="submit-q-container">
        <span class=<%= !params[:question].nil? ? "submit-q-title" : "share-post-title"%>>
          <%= !params[:question].nil? ? "Ask a Question (You can also attach an image or GIF):" : "Share Image (you can alsoshare GIFs)"%>
        </span>
        <%if !params[:question].nil?%>
          <%=image_tag "comment.png", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :label, name: "submit_question_name", placeholder: "Type your question here...", id: "input-q-title" %>
            <div style="clear: both;"></div>
            <span class="countdown"></span>
          </p>
        <%else%>
          <%=image_tag "link.png", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :image_link, name: "image_link", placeholder: "Paste a URL here to attach an image (Currently only support imgur)", id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>
        <%end%>
        <%if !params[:question].nil?%>
          <%=image_tag "link_blue.png", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :image_link, name: "image_link", placeholder: "Paste a URL here to attach an image (Currently only support imgur)", id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>
        <%else%>
          <%=image_tag "text2.png",size: "29x30", class: "share-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :label, name: "submit_question_name", placeholder: "Add a description", id: "input-q-title" %>
            <div style="clear: both;"></div>
            <span class="countdown"></span>
          </p>
        <%end%>
      </article>

      <article class="submit-q-container">
          <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            Select a Category:
          </p>
          <p class="submit-q-dropdown">
            <!-- This list needs to match with the group IDs at arima.io/admin -->
            <%= select_tag(:group_id, options_for_select([
              ["Money Matters", 1],
              ["Health & Fitness", 2],
              ["Education & Knowledge", 3],
              ["Electronics & Gadgets", 4],
              ["Business & Career", 5],
              ["Sports", 6],
              ["Entertainment", 7],
              ["Travel", 8],
              ["Food", 9],
              ["Current Events", 10],
              ["Lifestyle", 12],
              ["Politics", 13],
              ["Gaming", 14]
            ]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
          </p>
      </article>

      <article class="submit-q-container">
          <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            <%= !params[:question].nil? ? "Select Answer Option:" : "Select Rating Option:"%>
          </p>
          <p class="submit-q-dropdown">
            <div class="ask-questions-toggle-container" style="text-align:center;">
              <a class="multiple-choice" data-toggle="pill">
                <div class="multiple-choice-toggle ask-question-toggle-active">
                  <p id="multiple-choice-label" data-toggle="pill">Multiple Choice</p>
                </div>
              </a>
            </div>
            <%#= select_tag(:value_type, options_for_select([
              ["Multiple Choice", "collection"]#,
              #["Numerical Value", "quantity"]
            ]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
          </p>

          <section class="selected-multiple-choices" id="answer-types">
            <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
              <%= !params[:question].nil? ? "Add your Answer Choices:" : "Add Rating Opinions:"%>
            </p>
            <p style="margin-left:2.6em;">Maximum of 12 answers, empty boxes will not be added.</p>
            <section class="submit-input-container" style="margin-left: 2.5em;">

              <div class="answer-type-input-box">
                <input type="text" name="answer_box_1" id="answer-box-1" class="answer-box" placeholder="Answer here">
                <input type="text" name="answer_box_2" id="answer-box-2" class="answer-box" placeholder="Answer here">
              </div>
            </section>
            <input type="button" value="+ Add another answer" class="add-answer-button" id=<%= !params[:question].nil? ? "blue-button" : "orange-button" %> />

          </section>
      </article>
      <span class="modal-finished-container">
        <%= f.submit "Submit", class: "modal-finished-button", id: !params[:question].nil? ? "blue-button" : "orange-button" %>
      </span>

      <% if user_signed_in? && current_user.username.present? %>
      <div class="check-box-container">
        <p class="check-box"><%= check_box_tag "checked[#{current_user.id}]","true", true %></p>
        <p>Allow other users to add answers</p>
      </div>
      <% end %>
    </section>
    <% end %>
</section><!-- /.modal -->
