<script>
  $(document).ready(function() {
    // Make sure the add answer button is showing
    $("#add-answer-button").css("display", "block");

    var answerBoxCounter = 2;
    var MAX_BOX_COUNT = 12;

    var funnyList = ["Hahah", "LOL", "LOL (not really)", "WTF", "Love it", "Meh"];
    var educationalList = ["So True", "Very deep", "This is like my life",
    "No! Not at all", "Yeah, there is maybe some truth in it.", "Nah", "TIL"];
    var sportsList = ["Amazing skills", "True Legend", "Meh, who cares?",
    "Seriously? I can do better", "Sexy as fuck", "Respect"];
    var foodList = ["This looks amazing", "I am hungry", "It's alright, not really my taste",
    "Ewwwwwww", "WTF??"];

   $(".add-answer").click(function() {
     // add another answer text box when clicked under existing text box.
     var newBoxNumber = answerBoxCounter + 1;

     if (newBoxNumber <= MAX_BOX_COUNT) {
       var newHtml = '<input type="text" name="answer_box_' + newBoxNumber +'" id="answer-box-' + newBoxNumber +'" class="answer-box" placeholder="Answer here">';

       $(".answer-type-input-box").append(newHtml);
       answerBoxCounter++;
     } else {
       return false;
     }
   });

   $(".default-answer").click(function() {
     $("#default-answer-menu").css("display", "block");
     $(".add-answer-container").css("height", "520px");
     return false;
   });

   $('#default-answer-menu > li > a').click(function(){
      if ($(this).attr('class') != 'active'){
        $(".add-answer-container").css("height", "700px");
        $('#default-answer-menu li ul').slideUp();
        $(this).next().slideToggle();
        $('#default-answer-menu li a').removeClass('active');
        $(this).addClass('active');
      }
      return false;
    });

    $('.funny-default').click(function(){
       if(answerBoxCounter < funnyList.length){
         for(i = 1; i <= answerBoxCounter; i++){
           document.getElementById("answer-box-" + i).value = funnyList[i-1];
         }
         for(j = answerBoxCounter + 1; j <= funnyList.length; j++){
           var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + funnyList[j-1] +'" class="answer-box" placeholder="Answer here">';
           $(".answer-type-input-box").append(newHtml);
           answerBoxCounter++;
         }
       }
       else{
         for(i = 1; i <= answerBoxCounter; i++){
           if(i <= funnyList.length){
             document.getElementById("answer-box-" + i).value = funnyList[i-1];
           }
           else {
             document.getElementById("answer-box-" + i).value = "";
           }
         }
       }
       return false;
     });

     $('.educational-default').click(function(){
        if(answerBoxCounter < educationalList.length){
          for(i = 1; i <= answerBoxCounter; i++){
            document.getElementById("answer-box-" + i).value = educationalList[i-1];
          }
          for(j = answerBoxCounter + 1; j <= educationalList.length; j++){
            var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + educationalList[j-1] +'" class="answer-box" placeholder="Answer here">';
            $(".answer-type-input-box").append(newHtml);
            answerBoxCounter++;
          }
        }
        else{
          for(i = 1; i <= answerBoxCounter; i++){
            if(i <= educationalList.length){
              document.getElementById("answer-box-" + i).value = educationalList[i-1];
            }
            else {
              document.getElementById("answer-box-" + i).value = "";
            }
          }
        }
        return false;
      });

      $('.sports-default').click(function(){
         if(answerBoxCounter < sportsList.length){
           for(i = 1; i <= answerBoxCounter; i++){
             document.getElementById("answer-box-" + i).value = sportsList[i-1];
           }
           for(j = answerBoxCounter + 1; j <= sportsList.length; j++){
             var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + sportsList[j-1] +'" class="answer-box" placeholder="Answer here">';
             $(".answer-type-input-box").append(newHtml);
             answerBoxCounter++;
           }
         }
         else{
           for(i = 1; i <= answerBoxCounter; i++){
             if(i <= sportsList.length){
               document.getElementById("answer-box-" + i).value = sportsList[i-1];
             }
             else {
               document.getElementById("answer-box-" + i).value = "";
             }
           }
         }
         return false;
       });

       $('.food-default').click(function(){
          if(answerBoxCounter < foodList.length){
            for(i = 1; i <= answerBoxCounter; i++){
              document.getElementById("answer-box-" + i).value = foodList[i-1];
            }
            for(j = answerBoxCounter + 1; j <= foodList.length; j++){
              var newHtml = '<input type="text" name="answer_box_' + j +'" id="answer-box-' + j + '"value="' + foodList[j-1] +'" class="answer-box" placeholder="Answer here">';
              $(".answer-type-input-box").append(newHtml);
              answerBoxCounter++;
            }
          }
          else{
            for(i = 1; i <= answerBoxCounter; i++){
              if(i <= foodList.length){
                document.getElementById("answer-box-" + i).value = foodList[i-1];
              }
              else {
                document.getElementById("answer-box-" + i).value = "";
              }
            }
          }
          return false;
        });

     $('#value_type').change(function(){
        if($(this).val() != "collection"){
          $("#answer-types").css('display','none');
        }
        else{
        $("#answer-types").css('display','block');
        }
     })

     function updateCountdown() {
    // 140 is the max message length
    var remaining = 150 - jQuery('#input-q-title').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
    }

      jQuery(document).ready(function($) {
      updateCountdown();
      $('#input-q-title').change(updateCountdown);
      $('#input-q-title').keyup(updateCountdown);
      });
  });
</script>

<!-- Submit Question Modal -->
<section style="width: 70%; margin:auto; margin-top: 3em;">
    <%= form_for Question.new do |f|%>
    <section class="submit-questions-container">
      <article class="submit-q-container">
        <span class=<%= !params[:question].nil? ? "submit-q-title" : "share-post-title"%>>
          <%= !params[:question].nil? ? "Ask a Question (You can also attach an image or GIF):" : "Share Image (you can also share GIFs)"%>
        </span>
        <%if !params[:question].nil?%>
          <%=image_tag "comment.png", size: "28x24", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :label, name: "submit_question_name", :required => true,
            placeholder: "Type your question here...", id: "input-q-title" %>
            <div style="clear: both;"></div>
            <span class="countdown"></span>
          </p>
        <%else%>
          <%=image_tag "text2.png",size: "22x28", class: "share-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :label, name: "submit_question_name", :required => true,
            placeholder: "Add a Title/Description", id: "input-q-title" %>
            <div style="clear: both;"></div>
            <span class="countdown"></span>
          </p>
        <%end%>
        <%if !params[:question].nil?%>
          <%=image_tag "link_blue.png", size: "28x28", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :image_link, name: "image_link", placeholder: "Paste a URL here to attach an image (We currently only support imgur)", id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>
        <%else%>
          <%=image_tag "link.png", size: "28x28", class: "question-icon" %>
          <p class="submit-q-input-box">
            <%= f.text_field :image_link, name: "image_link", :required => true,
            placeholder: "Paste a URL here to attach an image (We currently only support imgur)",
            id: "input-q-title" %>
            <div style="clear: both;"></div>
          </p>
        <%end%>
      </article>

      <article class="submit-q-container">
          <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            Select a Category:
          </p>
          <p class="submit-q-dropdown">
            <!-- This list needs to match with the group IDs at arima.io/admin -->
            <% [["Money Matters", 1],
                ["Health & Fitness", 2],
                ["Education & Knowledge", 3],
                ["Electronics & Gadgets", 4],
                ["Business & Career", 5],
                ["Sports", 6],
                ["Entertainment", 7],
                ["Travel", 8],
                ["Food", 9],
                ["Current Events", 10],
                ["Lifestyle", 12],
                ["Politics", 13],
                ["Gaming", 14]].each do |group| %>
                <label class="group-icon">
                  <%= radio_button_tag :group_id, group.last, checked = false%>
                  <%= image_tag("category_nav_icons_circular/#{group.last}.png")%>
                    <% if group.first == "Money Matters" %>
                      <%= label_tag "Money" %>
                    <% elsif group.first == "Health & Fitness"%>
                      <%= label_tag "Health" %>
                    <% elsif group.first == "Education & Knowledge"%>
                      <%= label_tag "Education" %>
                    <% elsif group.first == "Electronics & Gadgets"%>
                      <%= label_tag "Electronics" %>
                    <% elsif group.first == "Business & Career"%>
                      <%= label_tag "Business" %>
                    <% elsif group.first == "Current Events"%>
                      <%= label_tag "Current" %>
                    <% else %>
                    <%= label_tag "#{group.first}" %>
                    <% end %>
                </label>
                <% end %>
          </p>
      </article>

      <article class="submit-q-container add-answer-container">
          <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
            <%= !params[:question].nil? ? "Select Answer Option:" : "Select Rating Option:"%>
          </p>
          <p class="submit-q-dropdown">
            <div class="ask-questions-toggle-container" style="text-align:center;">
              <a class="multiple-choice" data-toggle="pill">
                <div class="multiple-choice-toggle ask-question-toggle-active">
                  <p id="multiple-choice-label" data-toggle="pill">Multiple Choice</p>
                </div>
              </a>
            </div>
            <%#= select_tag(:value_type, options_for_select([
              ["Multiple Choice", "collection"]#,
              #["Numerical Value", "quantity"]
            ]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
          </p>

          <section class="selected-multiple-choices" id="answer-types">
            <p class=<%= !params[:question].nil? ? "modal-input-title" : "modal-share-input-title"%>>
              <%= !params[:question].nil? ? "Add your Answer Choices:" : "Add Rating Opinions:"%>
            </p>
            <p style="margin-left:2.6em;">Maximum of 12 <%= !params[:question].nil? ? "answers" : "opinions"%>, empty boxes will not be added.</p>
            <section class="submit-input-container" style="margin-left: 2.5em;">

              <div class="answer-type-input-box">
                <input type="text" name="answer_box_1" id="answer-box-1" class="answer-box" placeholder="Answer here">
                <input type="text" name="answer_box_2" id="answer-box-2" class="answer-box" placeholder="Answer here">
              </div>
            </section>
            <input type="button" value="<%= !params[:question].nil? ? "+ Add another answer" : "+ Add another opinion" %>"
            class="add-answer-button add-answer" id=<%= !params[:question].nil? ? "blue-button" : "orange-button" %> />

            <button type='button' class="add-answer-button default-answer" id="green-button">Use Default Rating Choices</button>

            <!--Default value accordion menu-->
            <ul id="default-answer-menu">
              <li><a href="#">Funny</a>
                <ul>
                  <li>Hahaha</li>
                  <li>LOL</li>
                  <li>LOL (not really)</li>
                  <li>WTF</li>
                  <li>Love it</a></li>
                  <li>Meh</li>
                  <button type='button' class="add-answer-button add-default funny-default" id="green-button">Use this Default</button>
                </ul>
              </li>
              <li><a href="#">Educational</a>
                <ul>
                  <li>So True</li>
                  <li>Very deep</li>
                  <li>This is like my life</li>
                  <li>NO! Not at all</li>
                  <li>Yeah, there is maybe some truth in it.</li>
                  <li>Nah</li>
                  <li>TIL</li>
                  <button type='button' class="add-answer-button add-default educational-default" id="green-button">Use this Default</button>
                </ul>
              </li>
              <li><a href="#">Sports</a>
                <ul>
                  <li>Amazing skills</li>
                  <li>True Legend</li>
                  <li>Meh, who cares?</li>
                  <li>Seriously? I can do better</li>
                  <li>Sexy as fuck</li>
                  <li>Respect</li>
                  <button type='button' class="add-answer-button add-default sports-default" id="green-button">Use this Default</button>
                </ul>
              </li>
              <li><a href="#">Food</a>
                <ul>
                  <li>This looks amazing</li>
                  <li>I am hungry</li>
                  <li>It's alright, not really my taste</li>
                  <li>Ewwwwww</li>
                  <li>WTF??</li>
                  <button type='button' class="add-answer-button add-default food-default" id="green-button">Use this Default</button>
                </ul>
              </li>
            </ul>
            <!--Accordion End-->
          </section>
      </article>

      <span class="modal-finished-container">
        <%= f.submit "Submit", class: "modal-finished-button", id: !params[:question].nil? ? "blue-button" : "orange-button" %>
      </span>

      <% if user_signed_in? && current_user.username.present? %>
      <div class="check-box-container">
        <p class="check-box"><%= check_box_tag "checked[#{current_user.id}]","true", true %></p>
        <p>Allow other users to add answers</p>
      </div>
      <% end %>
    </section>
    <% end %>
</section><!-- /.modal -->
<%if params[:question].nil?
    cookies[:share] = 1
  end
%>
