<script>
$(document).ready(function() {
      $('#answer_value').on('click', function() {
        $('.modal-button').prop('disabled', false);
      });
    });

</script>


<div class="main-site-container" id="question-page-container">
  <div id="question-card-container">
    <div class="question-container question-container-<%= @question.group_id %>">
      <div class="question-title"><%= @question.label %>
        <div class="question-title-count">
           <%= "#{@question.answers.count} #{@question.answers.count == 1 ? 'person' : 'people'}" %> answered this
        </div>
      </div>
        <div class="answer-prompt">
        <% if user_signed_in? %>
          <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
            <div class="form-group">
              <% if @question.input_type == "measurement" %>
                <section class="question-dual-input">
                  <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["large_unit"]) %>
                  <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["small_unit"]) %>
                </section>
              <% elsif @question.input_type == "collection" %>
                <%= f.input(:value, label: false, prompt: "Select one...", collection: @question.options_array, input_html: { class: "questions-page-input form-control input-lg"}) %>
              <% else %>
                <%= f.input(:value, label: false, placeholder: @question.placeholder(@user),
                             as: @question.input_type.try(:to_sym),
                             input_html: {
                               class: "questions-page-input form-control input-lg",
                               title: @question.validation_message,
                               min: @question.min_value
                             }) %>
              <% end %>
              <div class="modal-save-wrapper text-center" id="answer-button">
                <% if !@user_submitted_answer %>
                  <%= f.submit "Answer", class: "modal-button", disabled: true, data: {disable_with: "Submitting..."} %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <div id="answer-info">
    <%# if !user_signed_in? %>
      <%#= render partial: 'questions/unanswered_report', locals: { question: @question } %>
    <%# end %>
    <% if !@user_submitted_answer %>
      <div class="no-answer-container">
        <p class="no-answer-prompt">Answer the question to view your personalized report</p>
      </div>
    <% elsif @user_submitted_answer %>
      <%= render partial: 'questions/answer_report', locals: { question: @question, answer: @answer} %>
    <% end %>
  </div>

  <p class="next-question-label">Here's Another Question</p>
  <%# @random_question = Question.limit(1).order ("RANDOM()")%>
  <% @random_question = Question.where(:group_id => @question.group_id).order("RANDOM()").first %>
  <% @random_label = @random_question.label%>
  <div class="next-question">
    <p class="question-label">
      <a href="<%= question_path(@random_question) %>" title="<%= @random_label %>" class="question-link">
      <%= raw(@random_label) %>
      <div class="num-answers">
        <%= "#{@random_question.answers.count} #{@random_question.answers.count == 1 ? 'person answered' : 'people answered'}" %>
      </div>
     </p>
  </div>

  <div id="comment-section">
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=896455457041729&version=v2.0";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-comments" data-href="http://arima.io/<%= question_path(@question) %>" data-width="600" data-numposts="5" data-colorscheme="light"></div>
  </div>
</div>
