<% content_for :title, @question.label %>

<%= stylesheet_link_tag "featherlight.min.css" %>
<%= javascript_include_tag "featherlight" %>

<script>

$(document).ready(function() {

  if(screen.width <= 800) {
    window.location = "http://thearima.com/system/uploads/<%= @question.image_link%>";
  }

  $('#answer_value').on('change', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });

  $('#answer_value').on('input', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });
  <%if @question.image_link.nil? %>
    $(".question-title").css("width", "80%");
    $(".answer-counter").css("width", "80%");
  <%end%>
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if flash[:share_modal] %>
  <script>
    $(document).ready(function() {
      $('#shareNewQuestionModal').modal('show');
    });
  </script>
<% end %>
<% if flash[:share_answer_modal] && !user_signed_in? %>
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#shareSignupModal').modal('show');
      }, 10000);
    });
  </script>
<% end %>

<%= render '/common/share_new_question_modal' %>
<%#= render '/common/signup_modal' %>
<%#= render '/common/share_answer_modal' %>

<%if @user_submitted_answer && !@question.shared_image.nil? && !@question.shared_image%>
  <div class="main-site-container" id="question-page-container">
    <div id="question-hero">
      <div class="question-container">
        <!-- Votes -->
        <div class="question-vote-container">
          <!-- Should probably refactor this and use _question_normal -->
          <div class="question-upvote">
            <% if (cookies[:guest].nil?) %>
              <% check_guest() %>
            <% end %>
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "upvote" %>
              <%= link_to image_tag('upvote_blue.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>

          <div id="votecount-<%= @question.id %>" class="question-vote-counter">
            <%= "#{@question.votecount}" %>
          </div>

          <div class="question-downvote">
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "downvote" %>
              <%= link_to image_tag('downvote_orange.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>
          <!-- Should probably refactor this and use _question_normal -->
        </div>

        <%if !@question.image_link.nil? %>
          <div style="float:left; margin-top:20px; margin-right:10px;"><%= image_tag("/system/uploads/" + @question.image_link, size: "100x100", alt:"image",class: "question_image")%></div>
        <%end%>
        <!-- Question Title and Answer Box -->
        <div class="question-title-container">
          <h1 class="question-title"><%= @question.label %></h1>
          <div class="answer-counter"><%= @question.answers.count %><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</div>
            <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
          <section id="input-dropdown">
            <%= f.input(:value, label: false, prompt: "Select an Opinion", collection: @question.options_array, input_html: { class: "answer-dropdown-input"}) %>
          </section>
            <%end%>
        </div>

      </div>

    <div id="Social-like-button">
        <!--Facebook like button-->
        <div class="fb-like" data-href="https://www.facebook.com/friendsofarima?fref=ts"
        data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

        <!--Twitter like button-->
        <a class="twitter-follow-button twitter-count" data-show-screen-name="false"
        href="https://twitter.com/arima_io">
        Follow @TwitterDev</a>
    </div>

    <!-- Counter + Share Section -->
    <div id="question-meta-container">
      <div class="question-share-container">
          <%= render partial: "questions/share", locals: {
              id: @question.id,
              url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
              title: "#{@question.label[0..70]}...",
              image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
            }%>
          <p class="meta-title">Click the icon to share this report!</p>
        </div>
      </div>
    </div>

    <!-- Report -->
    <div id="question-content-container">
      <div class="report-container">
        <%= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>
      </div>
      <div id="trending-questions-container">
        <% @random_questions = Question.where(group_id: @question.group_id).order("RANDOM()").limit(5) %>
          <p class="trending-questions-label">Questions You May Like:</p>
        <% @random_questions.each do |random_question| %>
          <%= render partial: 'common/trending_question', locals: { question: random_question } %>
        <% end %>
        <a href="<%= feed_path %>"><div id="view-feed-button">View More</div></a>
      </div>
    </div>
  </div>
<%elsif @question.shared_image && @question.value_type == "tag"%>
  <div class="share-image-container">
    <div class="image-frame">
      <center class="image-container" style="float:left;">
        <%if !@question.image_link.nil?%>
          <a href="#" data-featherlight="#lightbox">
            <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, height: "380", alt:"image", class: "shared-photo hidden-xs", id: "lightbox") %>
          </a>
        <%end%>
      </center>

      <div style="clear:both;"></div>

      <center class="mobile-image-container">
        <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, height: "380", alt:"image", class: "shared-photo-mobile visible-xs")%>
      </center>
      <a href="<%= feed_path %>" class="feed-link hidden-xs"><div id="back-to-feed-button"><%= image_tag("Back-Arrow.png", class: "feed-back-arrow", width: "19", height: "9")%><font class="feed-back-title">Back to Home Feed</font></div></a>
      <section class="share-image-title"><%=@question.label %></section>
      <section class="share-icon-container" style="float: right; display: none;">
        <%= render partial: "questions/share", locals: {
            id: @question.id,
            url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
            title: "#{@question.label[0..70]}...",
            image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
          }%>
      </section>
      <!--<div id="animated-example" class="animated bounce bounce-center hidden-xs"><%= image_tag("Scroll-for-More.png", height: "27", width: "83")%></div>-->
    </div>

    <div style="background-color: #FCFCFC; color: #7ed321; font-weight: 500; font-size: 18px; text-align: center; margin-right: 12em; margin-bottom: -.7em;" class="hidden-xs">What people say about this image:</div>
    <center id="tag_show">
      <%if !@question.shared_image.nil? && @question.shared_image %>
        <%= render partial: 'questions/tag_input', locals: { question: @question, answer: @answer} %>
      <%elsif !@question.shared_image.nil? && !@question.shared_image%>
        <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
      <%end%>
    </center>

  </div>
<%else %>
  <div style="position: relative; top:30px;">
    <center>  <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, height: "340", alt:"image")%> </center>
    <center style="color: #4A90E2; font-weight: bold; font-size: 24px; padding-top: 10px;"><%=@question.label %></center>
    <center class="meta-title"><%= @question.answers.count%><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</center>
    <br>
    <center>
      <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
    </center>
  </div>
<%end%>
