<% content_for :title, @question.label %>

<script>
$(document).ready(function() {
      $('#answer_value').on('change', function() {
        $('.modal-button').prop('disabled', !(this.value.length > 0));
      });

      $('#answer_value').on('input', function() {
        $('.modal-button').prop('disabled', !(this.value.length > 0));
      });
      <%if @question.image_link.nil? %>
        console.log("hi");
        $(".question-title").css("width", "80%");
        $(".answer-counter").css("width", "80%");
      <%end%>
    });
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if flash[:share_modal] %>
  <script>
    $(document).ready(function() {
      $('#shareNewQuestionModal').modal('show');
    });
  </script>
<% end %>
<% if flash[:share_answer_modal] && !user_signed_in? %>
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#shareSignupModal').modal('show');
      }, 10000);
    });
  </script>
<% end %>

<%= render '/common/share_new_question_modal' %>
<%#= render '/common/signup_modal' %>
<%#= render '/common/share_answer_modal' %>

<%if @user_submitted_answer%>
  <div class="main-site-container" id="question-page-container">
    <div id="question-hero">
      <div class="question-container">
        <!-- Votes -->
        <div class="question-vote-container">
          <!-- Should probably refactor this and use _question_normal -->
          <div class="question-upvote">
            <% if (cookies[:guest].nil?) %>
              <% check_guest() %>
            <% end %>
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "upvote" %>
              <%= link_to image_tag('upvote_blue.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>
          <div id="votecount-<%= @question.id %>" class="question-vote-counter">
            <%= "#{@question.votecount}" %>
          </div>
          <div class="question-downvote">
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "downvote" %>
              <%= link_to image_tag('downvote_orange.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>
        </div>

        <%if !@question.image_link.nil? %>
          <div style="float:left; margin-top:20px; margin-right:10px;"><%= image_tag(@question.image_link, size: "100x100", alt:"image",class: "question_image")%></div>
        <%end%>
        <!-- Question Title and Answer Box -->
        <div class="question-title-container">
          <h1 class="question-title"><%= @question.label %></h1>
          <div class="answer-counter"><%= @question.answers.count %><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</div>
          <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
          <section id="input-dropdown">
            <%= f.input(:value, label: false, prompt: "Select an Opinion", collection: @question.options_array, input_html: { class: "answer-dropdown-input"}) %>
          </section>
          <%end%>
        </div>
      </div>

    <div id="Social-like-button">
        <!--Facebook like button-->
        <div class="fb-like" data-href="https://www.facebook.com/friendsofarima?fref=ts"
        data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

        <!--Twitter like button-->
        <a class="twitter-follow-button twitter-count" data-show-screen-name="false"
        href="https://twitter.com/arima_io">
        Follow @TwitterDev</a>
      </div>

    <!-- Counter + Share Section -->
    <div id="question-meta-container">
      <div class="question-share-container">


          <%= render partial: "questions/share", locals: {
              id: @question.id,
              url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
              title: "#{@question.label[0..70]}...",
              image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
            }%>
          <p class="meta-title">Click the icon to share this report!</p>
        </div>
      </div>
    </div>

    <!-- Report -->
    <div id="question-content-container">
      <div class="report-container">
        <%= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>
      </div>
      <div id="trending-questions-container">
        <% @random_questions = Question.where(group_id: @question.group_id).order("RANDOM()").limit(5) %>
          <p class="trending-questions-label">Questions You May Like:</p>
        <% @random_questions.each do |random_question| %>
          <%= render partial: 'common/trending_question', locals: { question: random_question } %>
        <% end %>
        <a href="<%= feed_path %>"><div id="view-feed-button">View More</div></a>
      </div>
    </div>

  </div>
<%else%>
<div style="position: relative; top:30px;">
  <center>  <%= @question.image_link.nil? ? "" : image_tag(@question.image_link, height: "340", alt:"image")%> </center>
  <center style="color: #4A90E2; font-weight: bold; font-size: 24px; padding-top: 10px;"><%=@question.label %></center>
  <center class="meta-title"><%= @question.answers.count%><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</center>
  <div class = "slogan"> Did you enjoy this? Share your opinion below!</div>
  <center>
      <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
  </div>
  </center>
</div>
<%end%>
