<script>
$(document).ready(function() {
    $('#answer_value').on('change', function() {
      $('.modal-button').prop('disabled', !(this.value.length > 0));
    });

    $('#answer_value').on('input', function() {
      $('.modal-button').prop('disabled', !(this.value.length > 0));
    });
  });

  $('.question-upvote')
 .on('ajax:send', function () { $(this).addClass('loading'); })
 .on('ajax:complete', function () { $(this).removeClass('loading'); })
 .on('ajax:error', function () { $(this).after('<div class="error">There was an issue.</div>'); })
 .on('ajax:success', function (data) { $(this).html(data.count); });
</script>


<div class="main-site-container" id="question-page-container">
  <div id="question-hero">
    <div class="question-container question-container-<%= @question.group_id %>">
      <!-- Votes -->
      <div class="question-vote-container">
        <div class="question-upvote">
          <%= link_to image_tag('upvote_white.png', class: "question-upvote question-vote-image"), :method => :put, :remote => true %>
        </div>
        <div class="question-vote-counter">
          <%= "#{@question.votecount}" %>
        </div>
        <div class="question-downvote">
          <%= link_to image_tag('downvote_white.png', class: "question-vote-image"), :method => :put, :remote => true %>
        </div>
      </div>

      <!-- Question Title and Answer Box -->
      <div class="question-title-container">
        <h1 class="question-title"><%= @question.label %></h1>
        <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
      </div>
    </div>

    <!-- Counter + Share Section -->
    <div id="question-meta-container">
      <div class="question-title-count">
        <%= @question.answers.count %>
        <p class="meta-title"><%= @question.answers.count == 1 ? 'Person' : 'People' %> Answered</p>
      </div>

      <div class="question-share-container">
        <p class="meta-title">Share this Question</p>
        <%= render partial: "questions/share", locals: {
            id: @question.id,
            url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
            title: "#{@question.label[0..70]}...",
            description: "#{@question.label[0..70]}...",
            image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
          }%>
      </div>
    </div>
  </div>

  <!-- Report -->
  <div id="question-content-container">
    <% if !@user_submitted_answer %>
      <div class="no-answer-container">
        <p class="no-answer-prompt">Answer the question to view your personalized report</p>
      </div>
    <% elsif @user_submitted_answer %>
      <div class="report-container">
        <%= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>
      </div>
    <% end %>

    <div id="trending-questions-container">
      <% @random_questions = Question.order("RANDOM()").first(5) %>

      <p class="trending-questions-label">Trending Questions</p>

      <% @random_questions.each do |random_question| %>
        <%= render partial: 'common/trending_question', locals: { question: random_question } %>
      <% end %>
    </div>
  </div>

  <div id="comment-section">
    <%= render partial: 'questions/comments' %>
  </div>
</div>
