<% content_for :title, @question.label %>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>-->
<%#= javascript_include_tag "markerwithlabel" %>
<%= stylesheet_link_tag "featherlight.min.css" %>
<%= stylesheet_link_tag "tooltip.css" %>
<%= stylesheet_link_tag "jquery.emojipicker.css" %>
<%= stylesheet_link_tag "jquery.emojipicker.a.css" %>



<%= javascript_include_tag "tooltip.min" %>
<%= javascript_include_tag "twemoji.min" %>
<%= javascript_include_tag "featherlight" %>
<%= javascript_include_tag "jquery.emojipicker" %>
<%= javascript_include_tag "jquery.emojipicker.a" %>




<%#= javascript_include_tag "jquery.line" %>

<script>

var timeout_function;
var tag_counter = 1;
var tag_index = 0;
var tag_max = 3;
var comment_index = 1;
var emoji_show = false;

function FindPosition(oElement){
  if(typeof( oElement.offsetParent ) != "undefined"){
    for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent){
      posX += oElement.offsetLeft;
      posY += oElement.offsetTop;
    }
    return [ posX, posY ];
  }
  else{
    return [ oElement.x, oElement.y ];
  }
}

function GetCoordinates(e){
    var PosX = 0;
    var PosY = 0;
    var ImgPos;
    ImgPos = FindPosition(myImg);
    if (!e) var e = window.event;
    if (e.pageX || e.pageY){
      PosX = e.pageX;
      PosY = e.pageY;
    }

    else if (e.clientX || e.clientY){
        PosX = e.clientX + document.body.scrollLeft
          + document.documentElement.scrollLeft;
        PosY = e.clientY + document.body.scrollTop
          + document.documentElement.scrollTop;
    }

    PosX = PosX - ImgPos[0];
    PosY = PosY - ImgPos[1];
    $('#x_axis')[0].value = PosX;
    $('#y_axis')[0].value = PosY;
    $('#x_axis_max')[0].value = myImg.clientWidth;
    $('#y_axis_max')[0].value = myImg.clientHeight;

    var w_max = PosX + $('.shared-photo').offset().left >= ($('.shared-photo').offset().left + $('.shared-photo')[0].clientWidth) * 0.8;

    if(w_max){
      $('#comment-input')[0].style.top = String($('.shared-photo').offset().top + PosY) + "px";
      $('#comment-input')[0].style.left = String($('.shared-photo').offset().left + PosX - 145) + "px";
      $('.emoji_icon')[0].style.top = String($('.shared-photo').offset().top + PosY + 4) + "px";
      $('.emoji_icon')[0].style.left = String($('.shared-photo').offset().left + PosX - 25) + "px";
      $('#comment-input')[0].style.display = "block";

      $('.red-indicator')[0].style.top = String($('.shared-photo').offset().top + PosY + 12) + "px";
      $('.red-indicator')[0].style.left = String($('.shared-photo').offset().left + PosX + 1) + "px";
      $('.red-indicator')[0].style.display = "block";
    }else {
      $('#comment-input')[0].style.top = String($('.shared-photo').offset().top + PosY) + "px";
      $('#comment-input')[0].style.left = String($('.shared-photo').offset().left + PosX) + "px";
      $('#comment-input')[0].style.display = "block";

      $('.emoji_icon')[0].style.top = String($('.shared-photo').offset().top + PosY + 4) + "px";
      $('.emoji_icon')[0].style.left = String($('.shared-photo').offset().left + PosX + 120) + "px";
      $('.emoji_icon')[0].style.display = "block";


      $('.red-indicator')[0].style.top = String($('.shared-photo').offset().top + PosY + 12) + "px";
      $('.red-indicator')[0].style.left = String($('.shared-photo').offset().left + PosX - 8) + "px";
      $('.red-indicator')[0].style.display = "block";
    }
}

function increaseSize(tag, counter){
  if(counter == 1){
   tag.style.fontSize = "11px";
  }else if (counter == 2) {
   tag.style.fontSize = "12px";
  }else if (counter == 3){
   tag.style.fontSize = "13px";
  }else if (counter == 4){
   tag.style.fontSize = "14px";
  }else if (counter == 5){
   tag.style.fontSize = "15px";
  }else if (counter >= 6){
   tag.style.fontSize = "16px";
  /*}else if (counter == 7){
   tag.style.fontSize = "17px";
  }else if (counter == 8){
   tag.style.fontSize = "18px";
  }else if (counter == 9){
   tag.style.fontSize = "19px";
  }else if (counter == 10){
   tag.style.fontSize = "20px";
  }else if (counter >= 11){
   tag.style.fontSize = "21px";*/
  }
}

function myLoop (time) {
  timeout_function = setTimeout(function () {
      var temp,x1, x2, y1, y2, indicator;

      if ($(window).width() <= 768){
        tag_max = 1;
      }else {
        tag_max = 3;
      }

      if($('.tag').length <= tag_max){

        if(tag_index >= $('.tag').length - 1){
          tag_index = -1;
        }

        ++tag_index;

        indicator = $("#indicator-" + $('.tag')[tag_index].id.split("-")[1]);
        indicator[0].style.display = "none";

        $('.tag')[tag_index].style.display = "none";

        indicator.addClass("comment-" + comment_index);
        $($('.tag')[tag_index]).addClass("comment-" + comment_index);

        indicator.show('slow');

        if (tag_index != 0){
          indicator = $("#indicator-" + $('.tag')[tag_index - 1 ].id.split("-")[1]);
          indicator[0].style.display = "none";
          $('.tag')[tag_index - 1].style.display = "none";
        }else{
          indicator = $("#indicator-" + $('.tag')[$('.tag').length - 1 ].id.split("-")[1]);
          indicator[0].style.display = "none";
          $('.tag')[$('.tag').length - 1].style.display = "none";
        }

        //$('#image-question-container').line(indicator.offset().left, indicator.offset().top, temp.offset().left, temp.offset().top, {color:"#50E3C2", stroke:1, zindex:10, display: "block",  id: "line-" + tag_index});

        $($('.tag')[tag_index]).fadeIn('slow');

        comment_index++;
        tag_counter++;

        myLoop(time);
      }else{

        if(comment_index > tag_max){
          comment_index = 1;
        }

        if(tag_counter  >= tag_max){
          $(".comment-" + comment_index)[0].style.display = "none";
          $(".comment-" + comment_index)[1].style.display = "none";

          $(".comment-" + comment_index).removeClass("comment-" + comment_index);
        }

        ++tag_index;

        indicator = $("#indicator-" + $('.tag')[tag_index].id.split("-")[1]);
        indicator[0].style.display = "none";
        $('.tag')[tag_index].style.display = "none";

        indicator.addClass("comment-" + comment_index);
        $($('.tag')[tag_index]).addClass("comment-" + comment_index);

        indicator.show('slow');
        $($('.tag')[tag_index]).fadeIn('slow');


        comment_index++;
        tag_counter++;

        if(tag_index == $('.tag').length - 1){
          tag_index = -1;
        }

        myLoop(time);
      }
   }, time);
}

function create_tags(id, label, x, y, counter, selected) {

  var iDiv, h, w, w_max, tag_indicator;

  tag_indicator = $('<div class="tag_indicator"></div>');

  iDiv = $('<div class="tag"></div>');
  var upvote = upvote = '<a data-method="get" data-remote="true" href="/vote_tag?question=<%= @question.id%>' + '&tag_clicked=' + id + '"'+ '><%= image_tag("upvote-white.png", alt:"image", size:"15x15", class:"votearrow") %></a>';

  var downvote = '<a data-method="get" data-remote="true" href="/downvote_tag?question=<%= @question.id%>' + '&tag_clicked=' + id + '"'+ '><%= image_tag("downvote-white.png", alt:"image", size:"15x15", class:"votearrow") %></a>';

  iDiv[0].innerHTML =  '<span style="display: inline-block;">' + upvote + downvote +'</span>' + '<span style="margin-left: 3px; margin-right: -1px; font-weight: 700;" class="counter-' + id + '">' + counter + '</span>' + '<span style="margin-left: 10px;">' + label +'</span>';

  $(iDiv).attr('id', "tag-" + id);
  iDiv[0].className = 'tag';

  iDiv[0].x_ratio = x;
  iDiv[0].y_ratio = y;

  increaseSize(iDiv[0], counter);

  $('#image-question-container')[0].appendChild(iDiv[0]);
  $('#image-question-container')[0].appendChild(tag_indicator[0]);


  h = $('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * y);
  w = $('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * x);
  w_max = w >= ($('.shared-photo').offset().left + $('.shared-photo')[0].clientWidth) * 0.7;

  iDiv[0].style.top = String(h) + "px";

  tag_indicator[0].style.top = String(h - 5) + "px";

  tag_indicator[0].id = "indicator-" + id;

  if(w_max){
    iDiv[0].style.left = String(w - iDiv[0].offsetWidth) + "px";
  }else{
    iDiv[0].style.left = String(w) + "px";
  }

  tag_indicator[0].style.left = String(w - 5) + "px";

  iDiv[0].style.display = "none";
  iDiv[0].style.visibility = "visible";

}

function show_all(){
  clearTimeout(timeout_function);

  if($('.tag').length <= 5){
    time_out = 2000;
  }else {
    time_out = 2500;
  }
  myLoop(time_out);
}

function hide_all(){
  clearTimeout(timeout_function);

  for(i = 0; i < $('.tag').length; i++){
    $("#indicator-" + $('.tag')[i].id.split("-")[1])[0].style.display = "none";
    $('.tag')[i].style.display = "none";
  }

}

$(window).load(function() {
  $('#comment-input').emojiPicker({
    width: '200px',
    height: '200px',
    button: false
  });

  var tip = new Tooltip('<div style="padding: 8px;"><%= @question.label %></div>');
  tip.type('light').effect('slide');
  tip.position(document.querySelector('.question-image-title'));
  $('.zoompic').show(2400);
  $('.hidepic').show(2400);


  var time_out;

  <%if !@tags_array.empty?%>
    <%@tags_array.each do |tag|%>
      <%= @selected = Opinion.where(tag_id: tag.id, user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.nil? %>
      create_tags("<%= tag.id%>", "<%= tag.label%>", <%= tag.x_ratio%>, <%= tag.y_ratio%>, <%= tag.counter%>, <%= @selected%>);
    <%end%>
  <%end%>

  $('.zoompic').show(2400);
  $('.zoompic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height -90 + "px";
  $('.zoompic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 45  + "px";

  $('.hidepic').show(2400);
  $('.hidepic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height - 48 + "px";
  $('.hidepic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 44 + "px";

  $('.showpic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height - 48 + "px";
  $('.showpic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 44 + "px";

  if($('.tag').length > 0){
    $("#indicator-" + $('.tag')[0].id.split("-")[1])[0].style.display = "inline-block";
    $("#indicator-" + $('.tag')[0].id.split("-")[1]).addClass("comment-1");
    $($('.tag')[0]).addClass("comment-1");

    comment_index++;

    $($('.tag')[0]).fadeIn('slow');

    if($('.tag').length <= 5){
      time_out = 2000;
    }else {
      time_out = 2500;
    }

    myLoop(time_out);
  }


  $('#answer_value').on('change', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });

  $('#answer_value').on('input', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });
  <%if @question.image_link.nil? %>
    $(".question-title").css("width", "60%");
    $(".answer-counter").css("width", "80%");
  <%end%>

  $( window ).resize(function() {

    $('.zoompic').show(2400);
    $('.zoompic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height -90 + "px";
    $('.zoompic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 45  + "px";

    $('.hidepic').show(2400);
    $('.hidepic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height - 48 + "px";
    $('.hidepic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 44 + "px";


    $('.showpic')[0].style.top = $('.shared-photo').offset().top + $('.shared-photo')[0].height - 48 + "px";
    $('.showpic')[0].style.left = $('.shared-photo').offset().left + $('.shared-photo')[0].width - 44 + "px";

    var w, w_max;

    for(i = 0; i < $('.tag').length; i++){

      w = $('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * $('.tag')[i].x_ratio);

      w_max = w >= ($('.shared-photo').offset().left + $('.shared-photo')[0].clientWidth) * 0.8;

      $("#indicator-" + $('.tag')[i].id.split("-")[1])[0].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * $('.tag')[i].y_ratio) - 5) + "px";
      $("#indicator-" + $('.tag')[i].id.split("-")[1])[0].style.left =  String(w - 5) + "px";

      $('.tag')[i].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * $('.tag')[i].y_ratio)) + "px";

      if(w_max){
        $('.tag')[i].style.left = String(w - $('.tag')[i].offsetWidth) + "px";
      }else{
        $('.tag')[i].style.left = String(w) + "px";
      }
    }
  });

  $("input").keypress(function(event) {
    if (event.which == 13) {
      $('#value')[0].value = twemoji.parse($('#comment-input')[0].value);
      $("#new_answer").submit();
    }
  });

  $('.hidepic').click(function(){
    hide_all();
    $('.hidepic').css("display","none");
    $('.showpic').css("display","block");
  });

  $('.showpic').click(function(){
    show_all();
    $('.showpic').css("display","none");
    $('.hidepic').css("display","block");
  });

  $(".submit-plus").click(function() {
    $('#value')[0].value = $('#comment-input')[0].value;
    $("#new_answer").submit();
    $('#comment-input')[0].style.display = "none";
    $('#comment-input')[0].value = "";
    $('.emoji-icon')[0].style.display = "none";
  });

  $('.question-image-title').click(function(){
    tip.toggle();
  });

  $('.emoji_icon').click(function(e) {
    e.preventDefault();
    $('#comment-input').emojiPicker('toggle');
  });



  $(document).ready(function() {
    setTimeout(function() {
      $('.mobile-instructag')[0].style.visibility = 'hidden';
      }, 2000);
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27){
      $('#comment-input')[0].style.display = "none";
      $('.emoji_icon')[0].style.display = "none";
    }
  });

  $(document).mousedown(function (e)
  {
      var container = $(".shared-photo");
      var emoji_container = $('.emojiPicker');
      var emoji_icon = $('.emoji_icon');
      var input_field = $('#comment-input');

      if (!container.is(e.target) // if the target of the click isn't the container...
          && !emoji_container.is(e.target)
          && emoji_container.has(e.target).length === 0
          && !emoji_icon.is(e.target)
          && emoji_icon.has(e.target).length === 0
          && container.has(e.target).length === 0
          && !input_field.is(e.target)) // ... nor a descendant of the container
      {
        $('.red-indicator')[0].style.display = "none";
        $('#comment-input')[0].style.display = "none";
        $('.emoji_icon')[0].style.display = "none";
      }
  });

});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if flash[:share_modal] %>
  <script>
    $(document).ready(function() {
      $('#shareNewQuestionModal').modal('show');
    });
  </script>
<% end %>

<%# if flash[:share_answer_modal] && !user_signed_in? %>
  <!--<script>
  //   $(document).ready(function() {
  //     setTimeout(function() {
  //       $('#shareSignupModal').modal('show');
  //     }, 10000);
  //   });
  </script>-->
<%# end %>

<%= render '/common/share_new_question_modal' %>
<%= render 'common/user_list_display' %>
<%= render 'common/graveyard_list' %>
<%#= render '/common/signup_modal' %>
<%#= render '/common/share_answer_modal' %>

<div class="red-indicator"></div>

<%img_path = "/system/uploads/" + @question.image_link%>

<span class="zoompic hidden-xs" style="display:none;">
  <a href="<%= img_path %>" data-featherlight="image">
    <%= image_tag("Zoom.png", size: "25x25", class: "enlarge-icon") %>
  </a>
</span>
<span class="hidepic" style="display:none;">
  <%= image_tag("Hide-Tags.png", size: "24x24", class: "hide-icon") %>
</span>
<span class="showpic" style="display: none;">
  <%= image_tag("Show-Tags.png", size: "24x24", class: "hide-icon") %>
</span>

<%#if @user_submitted_answer && !@question.shared_image.nil? && !@question.shared_image%>
<!--
  <div class="main-site-container" id="question-page-container">

    <div id="question-hero">
      <div class="question-container">

        <div class="question-vote-container">

          <div class="question-upvote hidden-xs">
            <%# if (cookies[:guest].nil?) %>
              <%# check_guest() %>
            <%# end %>
            <%# if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "upvote" %>
              <%#= link_to image_tag('upvote_blue.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <%# else %>
              <%#= link_to image_tag('upvote_grey.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <%# end %>
          </div>

          <div id="votecount-<%#= @question.id %>" class="question-vote-counter hidden-xs">
            <%#= "#{@question.votecount}" %>
          </div>

          <div class="question-downvote hidden-xs">
            <%# if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "downvote" %>
              <%#= link_to image_tag('downvote_orange.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <%# else %>
              <%#= link_to image_tag('downvote_grey.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <%# end %>
          </div>
        </div>

        <%#if !@question.image_link.nil? %>
          <div style="float:left; margin-right: 20px;"><%#= image_tag("/system/uploads/" + @question.image_link, size: "100x100", alt:"image",class: "question_image")%></div>
        <%#end%>
        <div class="question-title-container">
          <h1 class="question-title"><%#= @question.label %></h1>
          <div class="answer-counter"><%#= @question.answers.count %><%#= @question.answers.count == 1 ? ' Person' : ' People' %> Answered
          </div>
        </div>
      </div>
-->
<!--        <div id="question-meta-container" class="hidden-xs">
              <%#= render partial: "questions/share", locals: {
                  id: @question.id,
                  url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
                  title: "#{@question.label[0..70]}...",
                  image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
                }%>
        </div>
        <div id="Social-like-button" class="hidden-xs">
            <div class="fb-like" data-href="https://www.facebook.com/friendsofarima?fref=ts"
            data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            <br>
            <a class="twitter-follow-button twitter-count" data-show-screen-name="false"
            href="https://twitter.com/arima_io">
            Follow @TwitterDev</a>
        </div>


    </div>

    <div id="question-content-container">
      <div class="report-container">
        <%#= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>

         <div id="comment_list_container" class="hidden-xs">
          <%#= render partial: "comment_list"%>
        </div>
      </div>
    </div>

    <div id="trending-questions-container" class="hidden-xs">
      <%# @random_questions = Question.where(group_id: @question.group_id).order("RANDOM()").limit(5) %>
        <br>
        <br>
        <p class="trending-questions-label hidden-xs">Questions You May Like:</p>
      <%# @random_questions.each do |random_question| %>
        <%#= render partial: 'common/trending_question', locals: { question: random_question } %>
      <%# end %>
      <a href="<%#= feed_path %>"><div id="view-feed-button" class="hidden-xs">View More</div></a>
      <%#= link_to 'View Category', cat_path(:group_id), :id => "view-feed-button" %>

    </div>
  </div>
-->



<%#elsif @question.shared_image && @question.value_type == "tag"%>
<div id="image-question-container">
<div>
  <%= form_for :tag, :url => {:action => "add_tag", :controller => "tags"}, class: "form-inline", :remote => true do |f| %>
    <div class="comment-input" style="position: absolute;">
      <%= f.text_field(:label, placeholder: "Add Comment Here", class: "input-hidden", id: "comment-input") %>
      <%= image_tag "emoji-icon.png", class: "emoji_icon", size: "20x20" %>
    </div>
    <%#= f.submit "+", class: "submit-plus visible-xs" %>
    <span class="mobile-instructag visible-xs">Tap on the image to add your Tag Comment! </span>


    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'x_axis' %>
    <%= hidden_field_tag 'y_axis' %>
    <%= hidden_field_tag 'x_axis_max' %>
    <%= hidden_field_tag 'y_axis_max' %>
    <%= hidden_field_tag 'value' %>
  <% end %>

</div>

  <div class="share-image-container">
    <div class="image-frame">
      <div class="image-container">
        <%if !@question.image_link.nil?%>
          <%if !@question.image_link.nil? && @question.image_link[0] == "<"%>
            <div class="hidden-xs" style="margin-left:150px;"></iframe><%= @question.image_link.html_safe%></div>
            <div class="visible-xs"><%= @question.image_link.html_safe%></div>
          <%else%>
            <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, alt:"image", class: "shared-photo", id: "lightbox") %>
          <%end%>
        <%end%>

        <script>
          var myImg = document.getElementById("lightbox");

          myImg.onmousedown = GetCoordinates;
          var img = document.getElementById('lightbox');
          var xwidth = img.clientWidth;
          var yheight = img.clientHeight;

        </script>

      </div>

      <div class="tool-bar">
        <span class="instructag">Click anywhere and press Enter to add a Tag </span>
          <span class="share-icon-container" class="hidden-xs">
            <%= render partial: "questions/share", locals: {
                id: @question.id,
                url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
                title: "#{@question.label[0..70]}...",
                image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
              }%>
          </span>


      <section class="share-image-title">
        <span class="question-image-title">
          <%=@question.label %>
        </span>
        <span class="question-author">
        by
        <%=
        if User.where(id: @question.user_id).first.username.nil? || User.where(id: @question.user_id).first.username.empty?
          "anonymous"
        else
          link_to User.where(id: @question.user_id).first.username, custom_show_path(:username => User.where(id: @question.user_id).first.username)
        end
         %>
       </span>

        <%= link_to " #{@counter} users voted", { controller: "questions", action: "user_list_display", remote: true, :question => @question}, id: 'users_list' %>

        <span class="tagcount">
          <%= image_tag("Tag.png", size: "18x18")%>
          <p><%= @tags_array.count%> Tags</p>
        </span>

        <span class="grave">
          <%= link_to image_tag("graveyard.png", size: "15x20"), { controller: "tags", action: "graveyard_list", remote: true, :tag => @tag}%>
          <p><%= @tagrave.count %></p>

        </span>
      </section>
    </div>

      <center id="image-feed">
        <%@ifeed = Question.where.not(id: @question.id, shared_image: false).order("RANDOM()").limit(12)%>
        <% @ifeed.each do |question| %>
          <%= render partial: "common/trending_images", locals: { answered: false, question: question } %>
        <% end %>
      </center>

      <div style="clear:both;"></div>

    </div>
  </div>
</div>

<%#else %>
<!--
  <div id="<%#= @question.image_link.nil? ? "question_poll" : "image_poll" %>">
    <center>
      <%#if !@question.image_link.nil?%>
        <%#img_path = "/system/uploads/" + @question.image_link%>

        <a href="<%#= img_path %>" data-featherlight="image">
          <%#= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, alt:"image", class: "shared-photo", id: "lightbox") %>
        </a>
      <%#end%>
    </center>

    <center style="color: #4a4a4a; font-weight: bold; font-family: Roboto; font-size: 26px; padding-top: 20px; margin: 0 22%;"><%#=@question.label %></center>

    <center class="meta-title"><%#= @question.answers.count%><%#= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</center>
    <br>
    <center>
      <%#= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
    </center>

  </div>
-->
<%#end%>
