<% content_for :title, @question.label %>

<%= stylesheet_link_tag "featherlight.min.css" %>
<%= javascript_include_tag "featherlight" %>

<%= stylesheet_link_tag "toastr.css" %>
<%= javascript_include_tag "toastr" %>

<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<%@tag_array = Tag.where(question_id: @question.id).order(created_at: :asc)%>

<script>
$(document).ready(function() {

  <%if @question.shared_image %>
    document.getElementById("nothx-submit").onclick = reveal;
    document.getElementById("rating-submit").onclick = reveal;
  <%end%>
  function reveal() {
    document.getElementById("liner-title").style.display = "block";
    document.getElementById("tag_show").style.display = "block";

    var $target = $('#tag_show');

    $('html, body').stop().animate({
        'scrollTop': $target.offset().top
    }, 900, 'swing', function () {
        window.location.hash = '#tag_show';
    });

    var checkbox = $('.form-radio');

    <%if user_signed_in?
        @liked_tag = Opinion.where(user_id: current_user.id, question_id: @question.id)
        @liked_tag_array = Array.new()
        @liked_tag.each do |tagId|
          @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
        end
      else
        @liked_tag = Opinion.where(user_id: cookies[:guest], question_id: @question.id)
        @liked_tag_array = Array.new()
        @liked_tag.each do |tagId|
          @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
        end
      end
    %>

    <%if !@liked_tag_array.nil?%>
      <%@liked_tag_array.each do |tag|%>
        index = 0
        for(index; index <= <%= @tag_array.length - 1%>; index++){
          if ($('.form-radio')[index].value == "<%= tag %>"){
            $('.form-radio')[index].offsetParent.style.color = "#88FFF4";
            $('.form-radio')[index].nextElementSibling.src = "/images/teal_up.png";
            $('.form-radio')[index].nextElementSibling.onmouseout = null
            $('.form-radio')[index].nextElementSibling.onmouseover = null
            $('.form-radio')[index].nextElementSibling.setAttribute("class", "blue-up");
            $('.form-radio')[index].nextElementSibling.nextElementSibling.style.color = "#88FFF4";
          }
        }
      <%end%>
    <%end%>

    var tmr = self.setInterval(function(){myDelay()},2000);
    var m = 7;
    function myDelay(){
        m += 1;
        $('.dial').val(m).trigger('change');
        if(m==10) {
            window.clearInterval(tmr);
        }
    }

  };

  setTimeout(function(){ $('.square').addClass('hover'); }, 1900);
  setTimeout(function(){ $('.rating-prompt').addClass('hover'); }, 4200);
  setTimeout(function(){ $('.rating-title').addClass('hover'); }, 4200);
  // setTimeout(function(){ $('.square').removeClass('hover'); }, 3000);

    $('.border-top').delay(4300).fadeOut(400);
    $('.border-right').delay(4300).fadeOut(400);
    $('.border-bottom').delay(4300).fadeOut(400);
    $('.border-left').delay(4300).fadeOut(400);

    $('.rating_collection').on('change', function() {
         $(this).closest("form").submit();
       });
    $('input[name="answer[value]"]').click(function() {
      if ($(this).is(':checked')){
         $('#rating-submit').trigger('click');
      }
    });

    // $('.new-rating-submit').prop('disabled', true);
    // $('#otherone').css('visibility', 'hidden');
    // $('.new-rating-submit').click(function() {
    //   $('#otherone').css('visibility', 'visible');

    // });

    // // $('#otherone').keyup(function() {
    //  inspectAllInputFields();
    // });

    // function inspectAllInputFields(){
    //    var count = 0;
    //    $('#otherone').each(function(i){
    //      if( $(this).val() === '') {
    //          count++;
    //       }
    //       if(count == 0){
    //         $('.new-rating-submit').prop('disabled', false);
    //       }else {
    //         $('.new-rating-submit').prop('disabled', true);
    //       }

    //   });
    // };
});

</script>

<script>
$(document).ready(function() {

  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "0",
    "hideDuration": "0",
    "timeOut": "0",
    "extendedTimeOut": "0",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "slideDown",
    "hideMethod": "slideUp"
  }

  setTimeout(function(){   toastr["info"]( "Arima helps you to visualize opinions thru simple clicks."); }, 4200);


  if(screen.width <= 800) {
    window.location = "http://thearima.com/system/uploads/<%= @question.image_link%>";
  }

  $('#answer_value').on('change', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });

  $('#answer_value').on('input', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });
  <%if @question.image_link.nil? %>
    $(".question-title").css("width", "80%");
    $(".answer-counter").css("width", "80%");
  <%end%>
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if flash[:share_modal] %>
  <script>
    $(document).ready(function() {
      $('#shareNewQuestionModal').modal('show');
    });
  </script>
<% end %>
<% if flash[:share_answer_modal] && !user_signed_in? %>
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#shareSignupModal').modal('show');
      }, 10000);
    });
  </script>
<% end %>

<%= render '/common/share_new_question_modal' %>
<%#= render '/common/signup_modal' %>
<%#= render '/common/share_answer_modal' %>

<%if @user_submitted_answer && !@question.shared_image.nil? && !@question.shared_image%>
  <div class="main-site-container" id="question-page-container">
    <div id="question-hero">
      <div class="question-container">
        <!-- Votes -->
        <div class="question-vote-container">
          <!-- Should probably refactor this and use _question_normal -->
          <div class="question-upvote">
            <% if (cookies[:guest].nil?) %>
              <% check_guest() %>
            <% end %>
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "upvote" %>
              <%= link_to image_tag('upvote_blue.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>

          <div id="votecount-<%= @question.id %>" class="question-vote-counter">
            <%= "#{@question.votecount}" %>
          </div>

          <div class="question-downvote">
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "downvote" %>
              <%= link_to image_tag('downvote_orange.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>
          <!-- Should probably refactor this and use _question_normal -->
        </div>

        <%if !@question.image_link.nil? %>
          <div style="float:left; margin-top:20px; margin-right:10px;"><%= image_tag("/system/uploads/" + @question.image_link, size: "100x100", alt:"image",class: "question_image")%></div>
        <%end%>
        <!-- Question Title and Answer Box -->
        <div class="question-title-container">
          <h1 class="question-title"><%= @question.label %></h1>
          <div class="answer-counter"><%= @question.answers.count %><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</div>
            <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
          <section id="input-dropdown">
            <%= f.input(:value, label: false, prompt: "Select an Opinion", collection: @question.options_array, input_html: { class: "answer-dropdown-input"}) %>
          </section>
            <%end%>
        </div>

      </div>

    <div id="Social-like-button">
        <!--Facebook like button-->
        <div class="fb-like" data-href="https://www.facebook.com/friendsofarima?fref=ts"
        data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

        <!--Twitter like button-->
        <a class="twitter-follow-button twitter-count" data-show-screen-name="false"
        href="https://twitter.com/arima_io">
        Follow @TwitterDev</a>
    </div>

    <!-- Counter + Share Section -->
    <div id="question-meta-container">
      <div class="question-share-container">
          <%= render partial: "questions/share", locals: {
              id: @question.id,
              url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
              title: "#{@question.label[0..70]}...",
              image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
            }%>
          <p class="meta-title">Click the icon to share this report!</p>
        </div>
      </div>
    </div>

    <!-- Report -->
    <div id="question-content-container">
      <div class="report-container">
        <%= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>
      </div>
      <div id="trending-questions-container">
        <% @random_questions = Question.where(group_id: @question.group_id).order("RANDOM()").limit(5) %>
          <p class="trending-questions-label">Questions You May Like:</p>
        <% @random_questions.each do |random_question| %>
          <%= render partial: 'common/trending_question', locals: { question: random_question } %>
        <% end %>
        <a href="<%= feed_path %>"><div id="view-feed-button">View More</div></a>
      </div>
    </div>
  </div>
<%elsif @question.shared_image && @question.value_type == "tag"%>
  <div class="share-image-container">
    <div class="image-frame">
      <center class="image-container">
        <%if !@question.image_link.nil?%>
          <a href="#" data-featherlight="#lightbox">
            <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, height: "380", alt:"image", class: "shared-photo", id: "lightbox") %>
          </a>
        <%end%>
      </center>

      <div style="clear:both;"></div>

      <a href="<%= feed_path %>" class="feed-link hidden-xs"><div id="back-to-feed-button"><%= image_tag("Back-Arrow.png", class: "feed-back-arrow", width: "19", height: "9")%><font class="feed-back-title">Back to Home Feed</font></div></a>
      <section class="share-image-title"><%=@question.label %></section>
      <section class="share-icon-container" style="float: right;">
        <%= render partial: "questions/share", locals: {
            id: @question.id,
            url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
            title: "#{@question.label[0..70]}...",
            image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
          }%>
      </section>
      <!--<div id="animated-example" class="animated bounce bounce-center hidden-xs"><%#= image_tag("Scroll-for-More.png", height: "27", width: "83")%></div>-->
        <div class="square borderz">
        <h4 class= "rating-title" style= "color: #fff;">  Do you like this image? Give a rating and see it visualized below! :)</h4>
          <div class="rating-prompt">
            <% if @answer == nil %>
              <% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
            <% end %>

            <% if cookies[:guest] != nil %>
              <%= simple_form_for @answer, url: question_answers_path(@question, @answer), class: "form-inline", role: "form", html: {novalidate: true}, remote: true do |f| %>
                <div class="rating-options">
                  <% @multiple_choice = Array.new()
                      @question.options_array.each do |value|
                        @multiple_choice << [value, value]
                    end%>
                  <%= f.collection_radio_buttons :value, @multiple_choice, :first, :last,item_wrapper_class: :rating_collection%>
                  <%= link_to "No Thanks", upvote_question_path(:id => @question.id), :method => :put, :remote => true, :id => "nothx-submit", :class => "rating-redirect" %>
                </div>
          
                <div style="position: relative; top: 2em;">
                  <% if !@user_submitted_answer %>
                    <%= f.submit "Submit", data: {disable_with: "Submitting..."}, id: "rating-submit", :class => "rating-redirect" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
        </div>
          <div class= "border-top"></div>
          <div class= "border-right"></div>
          <div class= "border-bottom"></div>
          <div class= "border-left"></div>
        </div>
  </div>
    <center id="tag_show" style="display: none;">
      <%if !@question.shared_image.nil? && @question.shared_image %>
        <%= render partial: 'questions/tag_input' %>
        <div id="tag_list_container" class="hidden-xs" style="background-color: #212124;">
          <%= render partial: "tag_list"%>
        </div>
      <%elsif !@question.shared_image.nil? && !@question.shared_image%>
        <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
      <%end%>
    </center>

<%else %>
  <div style="height: 100vh; background-color: #BBDAFF;">
    <center>  <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, height: "340", alt:"image")%> </center>
    <center style="color: #4a4a4a; font-weight: bold; font-family: Roboto; font-size: 26px; padding-top: 130px; margin: 0 22%;"><%=@question.label %></center>
    <center class="meta-title"><%= @question.answers.count%><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</center>
    <br>
    <center>
      <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
    </center>

  </div>
<%end%>
