<% content_for :title, @question.label %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<%= javascript_include_tag "markerwithlabel" %>

<%@tag_array = Tag.where(question_id: @question.id).order(created_at: :asc)%>

<script>

var timeout_function;

function FindPosition(oElement){
  if(typeof( oElement.offsetParent ) != "undefined"){
    for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent){
      posX += oElement.offsetLeft;
      posY += oElement.offsetTop;
    }
    return [ posX, posY ];
  }
  else{
    return [ oElement.x, oElement.y ];
  }
}

function GetCoordinates(e){
    var PosX = 0;
    var PosY = 0;
    var ImgPos;
    ImgPos = FindPosition(myImg);
    if (!e) var e = window.event;
    if (e.pageX || e.pageY){
      PosX = e.pageX;
      PosY = e.pageY;
    }

    else if (e.clientX || e.clientY){
        PosX = e.clientX + document.body.scrollLeft
          + document.documentElement.scrollLeft;
        PosY = e.clientY + document.body.scrollTop
          + document.documentElement.scrollTop;
    }

    PosX = PosX - ImgPos[0];
    PosY = PosY - ImgPos[1];
    $('#x_axis')[0].value = PosX;
    $('#y_axis')[0].value = PosY;
    $('#x_axis_max')[0].value = myImg.clientWidth;
    $('#y_axis_max')[0].value = myImg.clientHeight;

    $('#comment-input')[0].style.top = String($('.shared-photo').offset().top + PosY) + "px";
    $('#comment-input')[0].style.left = String($('.shared-photo').offset().left + PosX) + "px";
    $('#comment-input')[0].style.display = "block";
}

function doSetTimeout(tag, multiplier) {
  timeout_function = setTimeout(function(){
    $(tag).show('slow');

  }, 1000 * multiplier);
}

function create_tags(id, label, x, y, counter, selected) {
  var iDiv;

  iDiv = $('<%= link_to "TEST", upvote_question_path(:id => @question.id), :method => :get, :remote => true, class: "tag" %>');
  iDiv[0].id = "tag-" + id;
  iDiv[0].className = 'tag';
  if(!selected){
    iDiv[0].innerHTML =
    '<span style="position: relative; display: inline-block;">\
    <%= image_tag("arrow_up_clicked.png", alt:"image", size:"15x15", class:"up-arrow")%>\
    <span style="position: relative; margin-right: 15px; font-weight: 500;">' + counter + '</span></span>'  + label;
    iDiv[0].style.color = "#88FFF4";
  }
  else {
    iDiv[0].innerHTML =
    '<span style="position: relative; display: inline-block;">\
    <%= image_tag("arrow_up.png", alt:"image", size:"15x15", class:"up-arrow")%>\
    <span style="position: relative; margin-right: 15px; font-weight: 500;">' + counter + '</span></span>'  + label;
    iDiv[0].style.color = "white";
  }
  iDiv[0].href = "/vote_tag?question=<%=@question.id%>&tag_clicked=" + id;
  iDiv[0].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * y)) + "px";
  iDiv[0].style.left = String($('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * x)) + "px";
  iDiv[0].x_ratio = x;
  iDiv[0].y_ratio = y;

  $('#image-question-container')[0].appendChild(iDiv[0]);
}

function show_all(){
  clearTimeout(timeout_function);

  for(i = 0; i < $('.tag').length; i++){
    $($('.tag')[i]).show('slow');
  }
}

function hide_all(){
  clearTimeout(timeout_function);

  for(i = 0; i < $('.tag').length; i++){
    $('.tag')[i].style.display = "none";
  }
}

$(window).load(function() {

  var time_multiplier = 0;

  <%if !@tags_array.empty?%>
    <%@tags_array.each do |tag|%>
      <%= @selected = Opinion.where(tag_id: tag.id, user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.nil? %>
      create_tags("<%= tag.id%>", "<%= tag.label%>", <%= tag.x_ratio%>, <%= tag.y_ratio%>, <%= tag.counter%>, <%= @selected%>);
    <%end%>
  <%end%>

  for(i = 0; i < $('.tag').length; i++){
    doSetTimeout($('.tag')[i], time_multiplier);
    time_multiplier = time_multiplier + 2;
  }

  $('#answer_value').on('change', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });

  $('#answer_value').on('input', function() {
    $('.modal-button').prop('disabled', !(this.value.length > 0));
  });
  <%if @question.image_link.nil? %>
    $(".question-title").css("width", "60%");
    $(".answer-counter").css("width", "80%");
  <%end%>

  $( window ).resize(function() {
    for(i = 0; i < $('.tag').length; i++){
      $('.tag')[i].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * $('.tag')[i].y_ratio)) + "px";
      $('.tag')[i].style.left = String($('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * $('.tag')[i].x_ratio)) + "px";
    }
  });

  $("input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#new_answer").submit();
        $('#comment-input')[0].style.display = "none";
        $('#comment-input')[0].value = "";
    }
  });

  $(".submit-plus").click(function() {
    $("#new_answer").submit();
    $('#comment-input')[0].style.display = "none";
    $('#comment-input')[0].value = "";
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27){
      $('#comment-input')[0].style.display = "none";
    }
  });

  $(document).mousedown(function (e)
  {
      var container = $(".shared-photo");
      var input_field = $('#comment-input');

      if (!container.is(e.target) // if the target of the click isn't the container...
          && container.has(e.target).length === 0
          && !input_field.is(e.target)) // ... nor a descendant of the container
      {
        $('#comment-input')[0].style.display = "none";
      }
  });

});
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if flash[:share_modal] %>
  <script>
    $(document).ready(function() {
      $('#shareNewQuestionModal').modal('show');
    });
  </script>
<% end %>

<%# if flash[:share_answer_modal] && !user_signed_in? %>
  <!--<script>
  //   $(document).ready(function() {
  //     setTimeout(function() {
  //       $('#shareSignupModal').modal('show');
  //     }, 10000);
  //   });
  </script>-->
<%# end %>

<%= render '/common/share_new_question_modal' %>
<%#= render '/common/missing_input_signup'%>
<%= render 'common/user_list_display' %>
<%#= render '/common/signup_modal' %>
<%#= render '/common/share_answer_modal' %>

<%if @user_submitted_answer && !@question.shared_image.nil? && !@question.shared_image%>
  <div class="main-site-container" id="question-page-container">

    <div id="question-hero">
      <div class="question-container">
        <!-- Votes -->
        <div class="question-vote-container">
          <!-- Should probably refactor this and use _question_normal -->
          <div class="question-upvote hidden-xs">
            <% if (cookies[:guest].nil?) %>
              <% check_guest() %>
            <% end %>
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "upvote" %>
              <%= link_to image_tag('upvote_blue.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{@question.id}", class: "question-vote-image"), upvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>

          <div id="votecount-<%= @question.id %>" class="question-vote-counter hidden-xs">
            <%= "#{@question.votecount}" %>
          </div>

          <div class="question-downvote hidden-xs">
            <% if Vote.where(:user_id => cookies[:guest]).where(:question_id => @question.id).pluck(:vote_type)[0] == "downvote" %>
              <%= link_to image_tag('downvote_orange.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% else %>
              <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{@question.id}", class: "question-vote-image"), downvote_question_path(:id => @question.id), :method => :put, :remote => true %>
            <% end %>
          </div>
          <!-- Should probably refactor this and use _question_normal -->
        </div>

        <%if !@question.image_link.nil? %>
          <div style="float:left; margin-right: 20px;"><%= image_tag("/system/uploads/" + @question.image_link, size: "100x100", alt:"image",class: "question_image")%></div>
        <%end%>
        <!-- Question Title and Answer Box -->
        <div class="question-title-container">
          <h1 class="question-title"><%= @question.label %></h1>
          <div class="answer-counter"><%= @question.answers.count %><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered
          </div>
        </div>
      </div>

        <!-- Counter + Share Section -->
        <div id="question-meta-container" class="hidden-xs">
              <%= render partial: "questions/share", locals: {
                  id: @question.id,
                  url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
                  title: "#{@question.label[0..70]}...",
                  image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
                }%>
        </div>
        <div id="Social-like-button" class="hidden-xs">
            <!--Facebook like button-->
            <div class="fb-like" data-href="https://www.facebook.com/friendsofarima?fref=ts"
            data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            <br>
            <!--Twitter like button-->
            <a class="twitter-follow-button twitter-count" data-show-screen-name="false"
            href="https://twitter.com/arima_io">
            Follow @TwitterDev</a>
        </div>


    </div>

    <!-- Report -->
    <div id="question-content-container">
      <div class="report-container">
        <%= render partial: 'common/visualization', locals: { question: @question, answer: @answer} %>

         <div id="comment_list_container" class="hidden-xs">
          <%= render partial: "comment_list"%>
        </div>
      </div>
    </div>

    <div id="trending-questions-container" class="hidden-xs">
      <% @random_questions = Question.where(group_id: @question.group_id).order("RANDOM()").limit(5) %>
        <br>
        <br>
        <p class="trending-questions-label hidden-xs">Questions You May Like:</p>
      <% @random_questions.each do |random_question| %>
        <%= render partial: 'common/trending_question', locals: { question: random_question } %>
      <% end %>
      <a href="<%= feed_path %>"><div id="view-feed-button" class="hidden-xs">View More</div></a>
      <%#= link_to 'View Category', cat_path(:group_id), :id => "view-feed-button" %>

    </div>
  </div>



<%elsif @question.shared_image && @question.value_type == "tag"%>
<div id="image-question-container">
<div>
  <%= simple_form_for @answer,:url => {:action => "add_tag", :controller => "answers"}, class: "form-inline", role: "form", html: {novalidate: true}, :remote => true do |f| %>
    <%= f.input(:options_for_collection, label: false,input_html:{value: nil, placeholder: "Add Comment Here", class: "input-hidden", id:"comment-input"}) %>
    <%= f.submit "+", class: "submit-plus" %>

    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'x_axis' %>
    <%= hidden_field_tag 'y_axis' %>
    <%= hidden_field_tag 'x_axis_max' %>
    <%= hidden_field_tag 'y_axis_max' %>
  <% end %>

</div>

  <div class="share-image-container">
    <div class="image-frame">
      <div class="image-container">
        <%if !@question.image_link.nil?%>
          <%img_path = "/system/uploads/" + @question.image_link%>
          <%if !@question.image_link.nil? && @question.image_link[0] == "<"%>
            <div class="hidden-xs" style="margin-left:150px;"></iframe><%= @question.image_link.html_safe%></div>
            <div class="visible-xs"><%= @question.image_link.html_safe%></div>
          <%else%>
            <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, alt:"image", class: "shared-photo", id: "lightbox") %>
          <%end%>
        <%end%>

        <script>
          var myImg = document.getElementById("lightbox");

          myImg.onmousedown = GetCoordinates;
          var img = document.getElementById('lightbox');
          var xwidth = img.clientWidth;
          var yheight = img.clientHeight;

        </script>

      </div>
      <div class="tool-bar">
          <span class="share-icon-container" class="hidden-xs">
            <%= render partial: "questions/share", locals: {
                id: @question.id,
                url: "#{request.protocol}#{request.host_with_port}" + question_path(@question),
                title: "#{@question.label[0..70]}...",
                image: "#{request.protocol}#{request.host_with_port}" + question_path(@question)
              }%>
          </span>
          <span class="instructag">Click anywhere on the image to add a Tag Comment </span>
          <span class="showhidebuttons">
            <span class="tagcount">
              <%= image_tag("Tag.png", size: "18x18")%>
              <%= @tag_array.count%> Tags
            </span>
              <a href="#" onclick="show_all();" class="show-tag"><%= image_tag("Show_Tag.png", size: "15x10") + "  Show All Tags"%></a>
              <a href="#" onclick="hide_all();" class="hide-tag"><%= image_tag("Hide_Tag.png", size: "15x10") + "  Hide All Tags"%></a>
            <span class="zoompic">
              <%= image_tag("Enlarge.png", size: "25x25", class: "enlarge-icon") %>
            </span>
          </span>

      </div>

      <section class="share-image-title">
        <%=@question.label %>
        <span class="question-author">
        by
        <%=
        if User.where(id: @question.user_id).first.username.nil? || User.where(id: @question.user_id).first.username.empty?
          "anonymous"
        else
          link_to User.where(id: @question.user_id).first.username, custom_show_path(:username => User.where(id: @question.user_id).first.username)
        end
         %>
       </span>
        <%= link_to " #{@counter} users voted", { controller: "questions", action: "user_list_display", remote: true, :question => @question}, id: 'users_list' %>
      </section>

      <div style="clear:both;"></div>

    </div>
  </div>
</div>

<%else %>
  <div id="<%= @question.image_link.nil? ? "question_poll" : "image_poll" %>">
    <center>
      <%if !@question.image_link.nil?%>
        <%img_path = "/system/uploads/" + @question.image_link%>

        <a href="<%= img_path %>" data-featherlight="image">
          <%= @question.image_link.nil? ? "" : image_tag("/system/uploads/" + @question.image_link, alt:"image", class: "shared-photo", id: "lightbox") %>
        </a>
      <%end%>
    </center>

    <center style="color: #4a4a4a; font-weight: bold; font-family: Roboto; font-size: 26px; padding-top: 20px; margin: 0 22%;"><%=@question.label %></center>

    <center class="meta-title"><%= @question.answers.count%><%= @question.answers.count == 1 ? ' Person' : ' People' %> Answered</center>
    <br>
    <center>
      <%= render partial: 'questions/answer_input', locals: { question: @question, answer: @answer} %>
    </center>

  </div>
<%end%>
