<div class="profile-hero-container">
  <div class="profile-hero-content">
    <div id="profile-picture-container">
      <% if (user.avatar.url.include? "missing") %>
        <div class="profile-picture-default"><%= user.username.to_s[0].capitalize %></div>
      <% else %>
        <%= image_tag user.avatar.url(:thumb), class: "profile-picture" %>
      <% end %>
      <div class="edit-profile">
        <%= button_to 'Edit', edit_profile_path, :method => "get", class: "profile-edit-button" %>
      </div>
    </div>


    <div class="profile-info">
      <div class="profile-username"><%= user.username.to_s %></div>
      <div class="user-location"><%= full_location(user) %></div>

      <div class="stat-container">
        <div id="user-leaderboard">
          <a href="<%= leaderboard_path(curr_user: true) %>">
          <div class="stat-title">Leaderboard Rank</div>
          <div class="stat-number"> ? <%#= user.get_user_rank %> </div>
          </a>
        </div>
        <div id="user-points">
          <div class="stat-title">
            Points <%= link_to image_tag("about_points_icon.png"), "/faq#about-points"%>
            <div class="stat-number"><%= user.points %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

