<a href="<%= question_path(question) %>" title="<%= question.label %>" class="question-link">
  <div class="profile-question-wrapper">
    <%= image_tag("category-icons/#{question.group_id}.png", class: "category-icon")  %>
    <div class="profile-question-info">
      <p class="profile-question-title"><%= question.label %></p>
      <div class="question-info">
        <% if !answered %>
          <div class="profile-num-answers">
            <%= "#{question.users.count} #{question.users.count == 1 ? 'person answered' : 'people answered'}" %>
          </div>
        <% end -%>

        <% if answered %>
          <div class="profile-answered-when">
            <p class="profile-question-answered-date">
              You and <%= "#{question.users.count} #{question.users.count == 1 ? 'person' : 'people'}" %> answered this
                <% num_days = (Date.today - answer.updated_at.to_date).to_i %>
                <%= num_days >= 1 ? (num_days > 1 ? "#{num_days} days ago" : "#{num_days} day ago") : "today" %>
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</a>
