<%@user = User.where(username: params[:username]).first%>
<div class="profile-hero-container">
  <div class="profile-hero-content">
    <div class="profile-info">
      <div class="profile-username"><%= @user.username %></div>
      <a href="<%= leaderboard_path(curr_user: true) %>">
        <div class="rank-title">Leaderboard Rank</div>
      </a>
      <div class="points-title">
        Points <%= link_to image_tag("about_points_icon.png"), "/faq#about-points"%>
      </div>
    </div>

    <div id="profile-picture-container">
      <% if (@user.avatar.url.include? "missing") %>
        <div class="profile-picture-default"><%= @user.username.to_s[0].capitalize %></div>
      <% else %>
        <%= image_tag @user.avatar.url(:thumb), class: "profile-picture" %>
      <% end %>
      <div class="edit-profile">
        <%if params[:username] == current_user.username%>
        <%= button_to 'Edit', profile_edit_path(@profile), :method => "get", class: "profile-edit-button" %>
        <%end%>
      </div>
    </div>
    <div class="grey-banner">
      <div class="profile-bottom-container">
        <div class="user-location"><%= @user.location.city + ", " + @user.location.country %></div>
        <div class="stat-rank"> <%= @user.rank == nil ? "?" : @user.rank%> </div>
        <div class="stat-points"><%= @user.points %></div>
    </div>
  </div>
