<div class="profile-edit-container">
  <div class="profile-edit">
    <div class="profile-content">
      <h3 class="submit-q-text" id="submit-question-label">Edit Profile</h3>
      
      <div class="grey-banner">
        <div id="profile-path-link">
          <%= link_to 'Back to Profile', profile_path(@profile) %>
        </div> 
      </div>

      <div class="profile-info-container">

        <div id="profile-picture-container">
          <% if (current_user.avatar.url.include? "missing") %>
            <div class="profile-picture-default"><%= current_user.username.to_s[0].capitalize %></div>
          <% else %>
            <%= image_tag current_user.avatar.url(:thumb), class: "profile-picture" %>
          <% end %>
        </div>

        <div class="profile-edit-info"> 
          <%= simple_form_for @profile, url: profile_path, html: { multipart: true, novalidate: false } do |f| %>
          
             <!--  <article class="referral-container">
              <p>Your personal invite link is: </p>
              <p>
                <strong>
                  <%#= "arima.io%{sign_up_path}?referral=%{user_referral_code}" % {sign_up_path: new_registration_path(resource_name), user_referral_code: current_user.referral_code} %>  
                </strong>
              </p>              
              <p>You get bonus points when people use your link to sign up for Arima!</p>
              </article> -->

              <%#= f.input :first_name, input_html: { class: "input-box" }, required: true %>
              <%#= f.input :last_name, input_html: { class: "input-box" } %>

            <div class="profile-username">
              Username <%= f.input :username, label: false, input_html: { class: "input-box" }, required: true %>
              <!-- <p class="help-block">
                You can change your username unlimited times during beta.
                Note that the url for accessing your reports will be changed!
              </p> -->
            </div>

            <div class="profile-email">
              Email <%= f.input :email, label: false, input_html: { class: "input-box" }, required: true %>
              <p class="help-block">
                Use this to log-in and keep in touch.
              </p>
            </div>

            <div id="profile-pic">  
              <%= f.input :avatar, label: false, input_html: {class: "profile-pic"}%>
            </div>

            <div class="profile-location">
              <%= f.simple_fields_for :location do |location| %>
                <p id="profile-country">
                  Country <br/> <%= location.country_select :country_code, {}, { class: "small-input-box" } %>
                </p>
                <p id="profile-city">
                  City <%= location.input :city, label: false, input_html: { class: "small-input-box" } %>
                </p>
                  <%#= location.input :province, input_html: { class: "small-input-box" } %>
              <% end %>
            </div>

            <div class="profile-birthyear">
              Birthyear <%= f.input :birthyear, label: false, required: true, start_year: Date.today.year - 90, end_year: Date.today.year - 12, input_html: {
                class: "small-input-box" } %>
            </div>

            <div class="profile-gender">
              Gender <%= f.input :gender, label: false, required: true, input_html: { class: "small-input-box" }, collection: User.gender_options, :include_blank => false %>
            </div>

            <div class="profile-unit-measurement">
              Unit of Measure <%= f.input :measurement_unit, label: false, collection: ["Metric", "Imperial"], input_html: { class: "small-input-box" }, required: true, :include_blank => false %>
            </div>

            <div id="profile-save">
              <%= f.submit "Save Changes", class: "edit-profile-save" %>
            </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>