<script>
  $(document).ready(function() {
    $("#questions-answered").bind('click', function() {
      $('#questions-asked').css('display', 'none');
    });

    $("#questions-asked").bind('click', function () {
      $('#questions-answered').css('display', 'none');
    });
  });
</script>

<% provide(:title, 'Profile') %>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: current_user} %>

  <div class="answered-questions-container">
    <div class="profile-questions-answered">
      <%= current_user.questions.count %> <br> <button id="questions-answered">Questions answered</button><%#= link_to "Questions answered", :id => "questions-answered" %>
    </div>
    <div class="profile-questions-asked">
      <%= @asked_questions.count %> <br> <button id="questions-asked">Questions asked</button><%#= link_to "Questions asked", :id => "questions-asked" %>
    </div>
    <div class="questions-answered" id="user-answered">
      <%= render 'answered_questions' %>
    </div>
    <div class="questions-asked" id="user-unanswered">
      <%= render 'asked_questions' %>
    </div>
  </div>
</div>
