<script>
  $(document).ready(function() {
    $("#questions-answered").bind('click', function() {
      $('#questions-asked').css('display', 'none');
    });

    $("#questions-asked").bind('click', function () {
      $('#questions-answered').css('display', 'none');
    });
  });
</script>

<% provide(:title, 'Profile') %>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: current_user} %>

  <div class="questions-toggle-container">
    <a class="profile-questions-answered">
      <div class="profile-questions-toggle-div">
        <p class="profile-questions-stat-num"><%= current_user.questions.count %></p>
        <p id="profile-questions-stat-label">Questions answered</p>
      </div>
    </a>
    <a class="profile-questions-asked">
      <div class="profile-questions-toggle-div">
        <p class="profile-questions-stat-num"><%= @asked_questions.count %></p>
        <p id="profile-questions-stat-label">Questions asked</p><%#= link_to "Questions asked", :id => "questions-asked" %>
      </div>
    </a>
  </div>

  <div class="questions-container">
    <div class="questions-answered questions-hidden">
      <%= render 'answered_questions' %>
    </div>
    <div class="questions-asked">
      <%= render 'asked_questions' %>
    </div>
  </div>
</div>
