<% provide(:title, 'Profile') %>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: current_user} %>

  <div class="answered-questions-container">
    <div class="profile-questions-answered"><%= current_user.questions.count %> <br> Questions answered</div>
    <div class="questions-answered" id="user-answered">
      <%= render 'answered_questions' %>
    </div> <!-- end questions-answered -->
    <div class="profile-questions-asked"><%= @asked_questions.count %> <br> Questions asked </div>
    <div>
      <%= render 'asked_questions' %>
    </div>
  </div>
</div>
