<% provide(:title, 'Profile') %>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: current_user} %>

  <div class="questions-toggle-container">
    <a class="profile-questions-answered" data-toggle="pill">
      <div class="profile-questions-toggle-answered profile-questions-toggle-active">
        <p class="profile-questions-stat-num" data-toggle="pill"><%= current_user.questions.count %></p>
        <p id="profile-questions-stat-label" data-toggle="pill">Questions Answered</p>
      </div>
    </a>
    <a class="profile-questions-asked" data-toggle="pill">
      <div class="profile-questions-toggle-asked">
        <p class="profile-questions-stat-num" data-toggle="pill"><%= @asked_questions.count %></p>
        <p id="profile-questions-stat-label" data-toggle="pill">Questions Asked</p><%#= link_to "Questions asked", :id => "questions-asked" %>
      </div>
    </a>
    <a class="profile-questions-trophy" data-toggle="pill">
      <div class="profile-questions-toggle-trophy">
        <span class="profile-questions-stat-num" data-toggle="pill" style="color: white;">0</span>
        <p id="profile-questions-stat-label" data-toggle="pill" style="position: relative; bottom: 16px;">Trophy Case</p><%#= link_to "Questions asked", :id => "questions-asked" %>
      </div>
    </a>
  </div>

  <div class="questions-container">
    <% if @answered_questions.empty? && @asked_questions.empty? %>
      <div class="no-questions-filler">
        <p>Answer or ask some questions to see this space fill up!</p>
      </div>
    <% end %>

    <div class="questions-answered">
      <%= render 'answered_questions' %>
    </div>
    <div class="questions-asked questions-hidden">
      <%= render 'asked_questions' %>
    </div>
  </div>
</div>
