<section class="signin-page div-center">
  <section class="signin-container info-input">
    <article class="signin-infobox">
      <section class="info-input">
        <h2 class="text-left"> Update Password </h2><br>
        <%= form_for @user, :url => forgot_password_path(params[:id]) do |f|%>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="email-input">
            <%= f.label :password %>
            <br>
            <%= f.password_field :password, class: "input-box" %>
          </div>
          <div class="email-input">
            <%= f.label :password_confirmation %>
            <br>
            <%= f.password_field :password_confirmation, class: "input-box" %>
          </div>
          <div class="signup-methods">
            <%= f.submit "Update Password", class: "signin-button" %>
          </div>
        <% end %>
      </section>
    </article>
  </section>
</section>
