<% content_for :title, "The Best Source for Knowledge and Data Visualization" %>

<script type="text/javascript">

$(document).ready(function(){
  <% images = ['hongkong_bg.jpg', 'miami_bg.jpg', 'nyc_bg.jpg', 'paris_bg.jpg', 'taipei_bg.jpg', 'tokyo_bg.jpg', 'toronto_bg.jpg'] %>
  $('#landing').css("background", "url( backgrounds/<%=images[Random.rand(images.length)]%>) center center");
	$('#landing').css("background-size", "cover");
});

</script>
<%= javascript_include_tag "home", :type => "text/javascript" %>

<!-- Welcome section -->
<title>Arima - The Best Source for Knowledge and Data Visualization.</title>
<div id="landing">
	<div id="landing-container">
		<div class="logo-name-container">
			<a href="/"><%= image_tag "logo-lg-white.png", id: "logo" %></a>
			<h1 id="welcome">Welcome to Arima</h1>
		</div>

		<div id="summary-container">
			<p class="summary">Arima helps you to organize what people think. Discover and comment on the best in pictures, arts, designs, sports, ideas and more through simple clicks.</p>

			<%= link_to 'Browse Arima', categories_path, class: "enter-button" %>
		</div>
	</div>

	<div id="key-points-container">
		<h3 class="key-points-header">With Arima, you can...</h3>
		<div class="key-points-section">
			<h4 class="key-points-header">Submit</h4>
			<%= image_tag "inquire.png", class: "key-points-logo" %>
			<p class="key-points-summary">
				Ask questions, share images, and collect feedback from viewers all around the globe.
			</p>
		</div>
		<div class="key-points-section">
			<h4 class="key-points-header">Discover</h4>
			<%= image_tag "discover.png", class: "key-points-logo" %>
			<p class="key-points-summary">
        			Discover and comment on the best content by adding new tags and upvoting on existing ones.
			</p>
		</div>
		<div class="key-points-section">
			<h4 class="key-points-header">Visualize</h4>
			<%= image_tag "create.png", class: "key-points-logo" %>
			<p class="key-points-summary">
        			Visualize thousands of comments in just a few seconds, without the hassle of going through pages and pages of words.
			</p>
		</div>
	</div>
</div>
