<div class="answer-prompt">
  <h2><%= question.label %></h2>
  <%= simple_form_for answer, url: question_answers_path(question, answer), class: "form-inline", role: "form", html: {novalidate: false} do |f| %>
  <%= f.hidden_field :from_modal, :value => true %>
  <div class="form-group">
    <% if question.input_type == "measurement" %>
        <section class="question-dual-input">
          <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["large_unit"]) %>
          <%= f.input(:value, label: false, pattern: "\d*", placeholder: @user_units["small_unit"]) %>
        </section>

    <% elsif question.input_type == "collection" %>
      <%= f.input(:value, label: false, prompt: "Select one...", collection: question.options_array, input_html: { class: "form-control input-lg"}) %>

    <% else %>
      <%= f.input(:value, label: false,
                  as: question.input_type.try(:to_sym),
                  input_html: {
                    class: "form-control input-lg",
                    title: question.validation_message,
                    min: question.min_value
                  }) %>
    <% end %>
  </div>
  <div class="modal-save-wrapper text-center">
    <%= f.submit "Save", class: "modal-button" %>
  </div>
<% end %>
</div>
