$(document).ready(function() {
  var iDiv;
  iDiv = $('<%= link_to "TEST", upvote_question_path(:id => @question.id), :method => :get, :remote => true, class: "tag" %>');
  iDiv[0].id = "tag-" + <%= @tag.id%>;
  iDiv[0].className = 'tag';
  iDiv[0].innerHTML =
  '<span style="position: relative; display: inline-block;">\
  <%= image_tag("arrow_up_clicked.png", alt:"image", size:"15x15", class:"up-arrow")%>\
  <span style="position: relative; margin-right: 15px; font-weight: 500;">' + "<%= @tag.counter%>" + '</span></span>'  + "<%= @tag.label%>";
  iDiv[0].style.color = "#88FFF4";
  iDiv[0].href = "/vote_tag?question=<%=@question.id%>&tag_clicked=" + "<%= @tag.id %>";
  iDiv[0].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * <%= @tag.y_ratio%>)) + "px";
  iDiv[0].style.left = String($('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * <%= @tag.x_ratio%>)) + "px";
  iDiv[0].x_ratio = <%= @tag.y_ratio%>;
  iDiv[0].y_ratio = <%= @tag.y_ratio%>;

  $('#image-question-container')[0].appendChild(iDiv[0]);
  $(iDiv).show('slow');

});
