<div class="col-sm-6 fp-answer-container">
  <p class="fp6-question">
    <%= @question.label %>
  </p>
</div>

<div class="col-sm-6">
  <%= simple_form_for @answer, url: "", class: "form-inline", role: "form" do |f| %>
    <%= f.input :question_id, value: @question.id, as: "hidden" %>

    <div class="form-group">
      <% if @question.input_type == "collection" %>
        <%= f.input(:value, label: false, prompt: "Select one...",
          collection: @question.options_array, input_html: { class: "form-control input-lg"}) %>
      <% else %>
        <%= f.input(:value, label: false,
                    placeholder: @question.placeholder(@user),
                    as: @question.input_type.try(:to_sym),
                    input_html: {
                      class: "form-control input-lg",
                      title: @question.validation_message,
                      min: @question.min_value
                    }) %>
      <% end %>
      <p class="help-block"><%= @question.validation_message %></p>
    </div>
    <div class="next-button-container">
      <a href="#" title="Next" class="next borderless fp-submit-button">Go</a>
    </div>
  <% end %>
</div>

<div class="clearfix"></div>
