<% content_for :og do %>
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="<%= @title %>" />
  <meta property="og:description" content="<%= @description %>" />
  <meta property="og:image" content="<%= @image %>" />
<% end %>

<div id="main-container" class="answers-container">
  <div id="answers-card" class="answers">
    <% if request.xhr? %>
      <%= render partial: 'questions/answer_report', locals: {answer: @answer} %>
    <% else %>
      <%= render partial: 'answers/answer', locals: {answer: @answer} %>
    <% end %>
  </div>
</div>
