$(document).ready(function() {
  <%if @voted%>
    $("<%= "#tag-#{@tag_clicked}"%>")[0].style.color = "#88FFF4";
    $("<%= "#tag-#{@tag_clicked}"%>")[0].innerHTML =
    '<span style="position: relative; display: inline-block;">\
    <%= image_tag("arrow_up_clicked.png", alt:"image", size:"15x15", class:"up-arrow")%>\
    <span style="position: relative; margin-right: 15px; font-weight: 500;">' + '<%= @tag.counter%>' + '</span></span>'  + '<%= @tag.label%>';

  <%else%>
    $("<%= "#tag-#{@tag_clicked}"%>")[0].style.color = "white";
    $("<%= "#tag-#{@tag_clicked}"%>")[0].innerHTML =
    '<span style="position: relative; display: inline-block;">\
    <%= image_tag("arrow_up.png", alt:"image", size:"15x15", class:"up-arrow")%>\
    <span style="position: relative; margin-right: 15px; font-weight: 500;">' + '<%= @tag.counter%>' + '</span></span>'  + '<%= @tag.label%>';

  <%end%>
});
