$(document).ready(function() {
  var iDiv, tag_indicator, w, w_max, h;

  $('#comment-input')[0].style.display = "none";
  $('.red-indicator')[0].style.display = "none";
  $('.emoji_icon')[0].style.display = "none";
  $('#comment-input')[0].value = "";

  tag_indicator = $('<div class="tag_indicator"></div>');

  iDiv = $('<div class="tag"></div>');
  var upvote = '<a data-method="get" data-remote="true" href="/vote_tag?question=<%= @question.id%>' + '&tag_clicked=' + '<%= @tag.id %>' + '"'+ '><%= image_tag("upvote-green.png", alt:"image", size:"15x15", class:"votearrow") %></a>';
  var downvote = '<a data-method="get" data-remote="true" href="/downvote_tag?question=<%= @question.id%>' + '&tag_clicked=' + '<%= @tag.id %>' + '"'+ '><%= image_tag("downvote-white.png", alt:"image", size:"15x15", class:"votearrow") %></a>';

  iDiv[0].id = "tag-" + <%= @tag.id%>;
  iDiv[0].className = 'tag';

  iDiv[0].innerHTML = '<span style="display: inline-block;">' + upvote + downvote +'</span>' + '<span style="margin-left: 10px;">' + '<%=@tag.counter%>' + '</span>' + '<span style="margin-left: 10px;">' + twemoji.parse("<%= @tag.label %>") +'</span>';
  iDiv[0].style.color = "white";
  iDiv[0].style.visibility = "visible";
  iDiv[0].style.display = "none";
  iDiv[0].style.top = String($('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * <%= @tag.y_ratio%>)) + "px";
  iDiv[0].x_ratio = <%= @tag.x_ratio%>;
  iDiv[0].y_ratio = <%= @tag.y_ratio%>;

  h = $('.shared-photo').offset().top + ($('.shared-photo')[0].clientHeight * <%= @tag.y_ratio%>);
  w = $('.shared-photo').offset().left + ($('.shared-photo')[0].clientWidth * <%= @tag.x_ratio%>);
  w_max = w >= ($('.shared-photo').offset().left + $('.shared-photo')[0].clientWidth) * 0.8;

  tag_indicator[0].style.top = String(h - 5) + "px";
  tag_indicator[0].id = "indicator-" + <%= @tag.id%>;


  if(w_max){
    console.log(w - iDiv[0].offsetWidth);
    iDiv[0].style.left = String(w - iDiv[0].offsetWidth) + "px";
  }else{
    iDiv[0].style.left = String(w) + "px";
  }
  console.log(iDiv[0].style.left);
  tag_indicator[0].style.left = String(w - 5) + "px";

  $('#image-question-container')[0].appendChild(iDiv[0]);
  $('#image-question-container')[0].appendChild(tag_indicator[0]);

  $(tag_indicator).fadeIn('slow');
  $(iDiv).fadeIn('slow');

});
