$(document).ready(function() {
	var upvote = '<a data-method="get" data-remote="true" href="/vote_tag?question=<%= @question.id%>' + '&tag_clicked=' + '<%= @tag.id %>' + '"'+ '><%= image_tag("upvote-white.png", alt:"image", size:"15x15", class:"votearrow") %></a>';
 	var downvote = '<a data-method="get" data-remote="true" href="/downvote_tag?question=<%= @question.id%>' + '&tag_clicked=' + '<%= @tag.id %>' + '"'+ '><%= image_tag("downvote-red.png", alt:"image", size:"15x15", class:"votearrow") %></a>';

    $("<%= "#tag-#{@tag_clicked}"%>")[0].style.color = "white";
    $("<%= "#tag-#{@tag_clicked}"%>")[0].innerHTML =
    '<span style="display: inline-block;">' + upvote + downvote +'</span>' + '<span style="margin-left: 10px;">' + '<%=@tag.counter%>' + '</span>' + '<span style="margin-left: 10px;">' + '<%=@tag.label%>' +'</span>';

});