$(document).ready(function() {
    $("<%= "#tag-#{@tag_clicked}"%>")[0].style.color = "#88FFF4";
    $("<%= "#tag-#{@tag_clicked}"%>")[0].innerHTML =
    '<span style="position: relative; display: inline-block; margin-right: -5px;">\
    <%= image_tag("upvote-green.png", alt:"image", size:"15x15", class:"up-arrow")%>\
    <span style="position: relative; margin-right: 15px; font-weight: 500;">' + '<%= @tag.counter%>' + '</span></span>'  + '<%= @tag.label%>';
});
