<% if !answered %>
  <div class="question-wrapper">
<% else %>
  <div class="question-wrapper question-wrapper-answered">
<% end -%>
  <div class="votes">
    <div class="upvote">
      <%= link_to image_tag('upvote_inactive.png'), :remote => true %>
    </div>
    <div class="counter">
      <%= "#{question.votecount}" %>
    </div>
    <div class="downvote">
      <%= link_to image_tag('downvote_inactive.png'), :remote => true %>
    </div>
  </div>

  <a href="<%= question_path(question) %>" title="<%= question.label %>" class="question-link">
    <div class="question-info">
      <p class="question-title"><%= question.label %></p>

      <div class="question-dates">
        <% if !answered %>
          <div class="num-answers">
            <%= "#{question.answers.count} #{question.answers.count == 1 ? 'person answered' : 'people answered'}" %>
          </div>
        <% end -%>

        <% if answered %>
          <div class="answered-when">
            <p class="question-answered-date">
              <%= "#{question.answers.count} #{question.answers.count == 1 ? 'person' : 'people'}" %> answered.
              You answered
                <% num_days = (Date.today - answer.updated_at.to_date).to_i %>
                <%= num_days >= 1 ? (num_days > 1 ? "#{num_days} days ago" : "#{num_days} day ago") : "today" %>
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </a>
</div>
