<div class="sidebar">
	<%= link_to image_tag("homefeedicon.png"), categories_path, class: " category-icon" %>
	<%#= link_to image_tag("cat-new-icons/1.png")+ "  Money", category_path(group_id: 1), method: :post, remote: true, :class => ' category-icon', :id => "category-1"%>
	<%#= link_to image_tag("cat-new-icons/2.png")+ "  Health", category_path(group_id: 2), method: :post, remote: true, :class => ' category-icon', :id => "category-2"%>
	<%#= link_to image_tag("cat-new-icons/3.png")+ "  Education", category_path(group_id: 3), method: :post, remote: true, :class => ' category-icon', :id => "category-3"%>
	<%#= link_to image_tag("cat-new-icons/4.png")+ "  Electronics", category_path(group_id: 4), method: :post, remote: true, :class => ' category-icon', :id => "category-4"%>
	<%#= link_to image_tag("cat-new-icons/5.png")+ "  Business", category_path(group_id: 5), method: :post, remote: true, :class => ' category-icon', :id => "category-5"%>
	<%= link_to image_tag("cat-new-icons/Sports.png"), category_path(group_id: 6), method: :post, remote: true, :class => ' category-icon', :id => "category-6"%>
	<%= link_to image_tag("cat-new-icons/Entertainment.png"), category_path(group_id: 7), method: :post, remote: true, :class => ' category-icon', :id => "category-7"%>
	<%= link_to image_tag("cat-new-icons/TL.png"), category_path(group_id: 8), method: :post, remote: true, :class => ' category-icon', :id => "category-8"%>
	<%= link_to image_tag("cat-new-icons/FH.png"), category_path(group_id: 9), method: :post, remote: true, :class => ' category-icon', :id => "category-9"%>
	<%= link_to image_tag("cat-new-icons/CE.png"), category_path(group_id: 10), method: :post, remote: true, :class => ' category-icon', :id => "category-10"%>
	<%#= link_to image_tag("cat-new-icons/12.png")+ "  Lifestyle", category_path(group_id: 12), method: :post, remote: true, :class => ' category-icon', :id => "category-12"%>
	<%#= link_to image_tag("cat-new-icons/13.png")+ "  Politics", category_path(group_id: 13), method: :post, remote: true, :class => ' category-icon', :id => "category-13"%>
	<%= link_to image_tag("cat-new-icons/GE.png"), category_path(group_id: 14), method: :post, remote: true, :class => ' category-icon', :id => "category-14"%>
</div>

<div class="feed-change">
	
</div>