<script>
  $(document).ready(function() {
    if (window.location.href.indexOf("/feed") != -1) {
      $('#feed-category-container').addClass('category-inner-container-active');
    }

    //$("#drop").off("click");
    $("#down").off("click");

    $("#drop").hover(function(){
        $("#down").css("margin-bottom", "150px");
        },function(){
        $("#down").css("margin-bottom", "60px");
    });
  });
</script>

<div id="questions-sidebar" class="sidebar expanded">
  <div class="tse-scrollable">
    <div class="tse-content">
      <div class="sidebar-wrapper">
        <div id="sidebar-mobile-close-toggle">Close sidebar</div>

        <div class="sidebar-title">
          <%= link_to image_tag("logo-icon-large.png"), categories_path %>
        </div>

        <div class="submit-question-container">
          <a id="submit-question-link" href="#" data-toggle="modal" data-target="#submitQuestionModal">Ask a Question</a>
          <hr>
        </div>


        <!-- login/signup -->
        <div class="sidebar-right" id="down">
          <ul class="nav-links">
            <% if user_signed_in? && current_user.username.present? %>
              <li class="dropdown" id="drop">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" class="nav-link">
                  <div class="nav-user-circle"><%= current_user.username[0].capitalize %></div>
                    <%= current_user.username %>
                    <i class="chevron-down"></i>
                </a>
                <ul class="menu dropdown-menu">
                  <li>
                    <%= link_to 'Profile', profile_path, class: "nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Leaderboard'.html_safe, leaderboard_path, class: "nav-link" %>
                  </li>
                  <li>
                    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, title: "#{current_user.email}", class: "nav-link" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', new_user_session_path, class: "nav-btn", id: "nav-login-btn" %>
              </li>

              <li>
                <%= link_to 'Sign Up', new_registration_path(resource_name), class: "nav-btn", id: "nav-signup-btn" if !user_signed_in? %>
              </li>
            <% end %>
          </ul>
        </div>

        <!-- Categories -->
        <div class="sidebar-categories">
          <!-- Feed Link -->
          <a href="<%= feed_path %>" class="sidebar-category">
            <div class="category-container">
              <div id="feed-category-container" class="category-inner-container">
                <%= image_tag("feed-icon.png", class: "category-icon" ) %>
                <span class="category-title">Home Feed</span>
              </div>
            </div>
          </a>
          <!-- Category Links -->
          <% Group.all.each do |group| %>
          <a href="<%= category_path(group) %>" data-group-id="<%= group.id %>" class="sidebar-category <%= group.page_class %>">
            <div class="category-container">
              <% if ((group.id == @question.try(:id)) || (group.id == @question.try(:group_id))) %>
              <div class="category-inner-container category-inner-container-active">
              <% else %>
              <div class="category-inner-container">
              <% end %>
                <%= image_tag("category-icons/#{group.id}.png", class: "category-icon" ) %>
                <span class="category-title"><%= group.label.sub("<br>", " ").html_safe %></span>
              </div>
            </div>
          </a>
          <% end %>
          <div class="sidebar-footer-push"></div>
        </div>
      </div>

      <!-- Footer -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="/about">About Us</a> &sdot;</li>
            <li><a href="/faq">FAQ</a> &sdot;</li>
            <li><a href="/contact">Contact</a> &sdot;</li>
            <li><a href="http://medium.com/@arima_io">Blog</a></li>
          </ul>
        </div>
        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="/terms">Terms &amp; Conditions</a>&sdot;</li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="https://www.facebook.com/friendsofarima"><%= image_tag("fb-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
            <li><a href="https://twitter.com/arima_io"><%= image_tag("twitter-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
