<div class="sidebar">
	<div class="sidebar-wrapper">
			<%= link_to image_tag("homefeedicon.png", size: "55x55"), categories_path, class: " category-icon" %>
			<%#= link_to image_tag("cat-new-icons/1.png", size: "55x55")+ "  Money", category_path(group_id: 1), method: :post, remote: true, :class => ' category-icon', :id => "category-1"%>
			<%#= link_to image_tag("cat-new-icons/2.png", size: "55x55")+ "  Health", category_path(group_id: 2), method: :post, remote: true, :class => ' category-icon', :id => "category-2"%>
			<%#= link_to image_tag("cat-new-icons/3.png", size: "55x55")+ "  Education", category_path(group_id: 3), method: :post, remote: true, :class => ' category-icon', :id => "category-3"%>
			<%#= link_to image_tag("cat-new-icons/4.png", size: "55x55")+ "  Electronics", category_path(group_id: 4), method: :post, remote: true, :class => ' category-icon', :id => "category-4"%>
			<%#= link_to image_tag("cat-new-icons/5.png", size: "55x55")+ "  Business", category_path(group_id: 5), method: :post, remote: true, :class => ' category-icon', :id => "category-5"%>
			<%= link_to image_tag("cat-new-icons/Sports.png", size: "55x55"), category_path(group_id: 6), method: :post, remote: true, :class => ' category-icon', :id => "category-6"%>
			<%= link_to image_tag("cat-new-icons/Entertainment.png", size: "55x55"), category_path(group_id: 7), method: :post, remote: true, :class => ' category-icon', :id => "category-7"%>
			<%= link_to image_tag("cat-new-icons/TL.png", size: "55x55"), category_path(group_id: 8), method: :post, remote: true, :class => ' category-icon', :id => "category-8"%>
			<%= link_to image_tag("cat-new-icons/FH.png", size: "55x55"), category_path(group_id: 9), method: :post, remote: true, :class => ' category-icon', :id => "category-9"%>
			<%= link_to image_tag("cat-new-icons/CE.png", size: "55x55"), category_path(group_id: 10), method: :post, remote: true, :class => ' category-icon', :id => "category-10"%>
			<%#= link_to image_tag("cat-new-icons/12.png", size: "55x55")+ "  Lifestyle", category_path(group_id: 12), method: :post, remote: true, :class => ' category-icon', :id => "category-12"%>
			<%#= link_to image_tag("cat-new-icons/13.png", size: "55x55")+ "  Politics", category_path(group_id: 13), method: :post, remote: true, :class => ' category-icon', :id => "category-13"%>
			<%= link_to image_tag("cat-new-icons/GE.png", size: "55x55"), category_path(group_id: 14), method: :post, remote: true, :class => ' category-icon', :id => "category-14"%>
	</div>
</div>
