<div class="sidebar">
	<div class="sidebar-wrapper">
	    <div class="submit-question-container">
	      <%= link_to image_tag("askquestion.png"), new_question_path(:question => true) %>
	    </div>
	    <div class="share-image-container">
	      <%= link_to image_tag("shareimage.png"), new_question_path %>
		</div>
	    <div class="profile-link">
			<% if user_signed_in? && current_user.username.present? %>
	        	<%= link_to "#{current_user.username[0].capitalize}", custom_show_path(:username => current_user.username), class: "nav-user-circle" %>
	      <% end %>
	      <%= link_to image_tag("anonprofile.png"), new_registration_path(resource_name), id: "nav-signup-btn" if !user_signed_in? %>
		</div>
	</div>
  </div>

      <!-- Footer -->
      <div class="sidebar-footer">
        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="/about">About Us</a> &sdot;</li>
            <li><a href="/faq">FAQ</a> &sdot;</li>
            <li><a href="/contact">Contact</a> &sdot;</li>
            <li><a href="http://medium.com/@arima_io">Blog</a></li>
          </ul>
        </div>
        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="/terms">Terms &amp; Conditions</a>&sdot;</li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>


        <div class="sidebar-footer-sections">
          <ul class="sidebar-footer-list">
            <li><a href="https://www.facebook.com/friendsofarima"><%= image_tag("fb-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
            <li><a href="https://twitter.com/arima_io"><%= image_tag("twitter-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
          </ul>
        </div>

      </div>
