<script>

$(document).ready(function() {
  <%if cookies[:signup].nil? || cookies[:signup].empty?%>
    setTimeout(function() {$('#popover-input').popover("show"); document.getElementsByClassName('popover')[0].childNodes[0].style.borderTopColor = "#419BF9";},5000);
  <%else%>
    $('#popover-input').popover("show");
    $("#other")[0].value = "<%= cookies[:answer] %>";
    document.getElementsByClassName('popover')[0].childNodes[2].innerHTML = "Oops,did you forget to Log in? If not, please Sign Up below to add your own opinion to the list!";
    document.getElementsByClassName('popover')[0].style.backgroundColor = "#AC09C5";
    document.getElementsByClassName('popover')[0].childNodes[0].style.borderTopColor = "#AC09C5";
  <% end %>
});
</script>

<footer class="sidebar-footer">

<a href="<%= feed_path %>" class="feed-link hidden-xs"><div id="back-to-feed-button"><%= image_tag("Back-Arrow.png", class: "feed-back-arrow", width: "19", height: "9")%><font class="feed-back-title">Back to Home Feed</font></div></a>
  <div class="sidebar-footer-sections">
    <ul class="sidebar-footer-list">
      <li><a href="/about">About Us</a> &sdot;</li>
      <li><a href="/faq">FAQ</a> &sdot;</li>
      <li><a href="/contact">Contact</a> &sdot;</li>
      <li><a href="/terms">Terms &amp; Conditions</a> &sdot;</li>
      <li><a href="/privacy">Privacy Policy</a> &sdot;</li>
      <li><a href="https://www.facebook.com/friendsofarima"><%= image_tag("fb-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
      <li><a href="https://twitter.com/arima_io"><%= image_tag("twitter-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
    </ul>
  </div>

  <%if !user_signed_in?%>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="signup-section">
      <div class="signup-links-bottom">
        <div id="signup-start">
        <%= f.submit "Sign Up", class: "signup-button" %>
        </div>

        <div class="signup-input">
          <div class="input-username">
              <%= f.text_field :username, placeholder: "Username", class: "input-box username-input-box", id: "popover-input", 'data-toggle'=>"popover",
              'data-placement'=>"top", 'data-content'=>"Sign Up to Ask Questions, Share Images, and gain amazing insights into what people think. Let's make data fun for everyone :)" %>
          </div>

          <div class="input-password">
            <%= f.password_field :password, placeholder: "Password", class: "input-box" %>
          </div>
        </div>

      </div>
      <% end %>
    </div>
  <%end%>
</footer>
