<div class="modal fade" id="missingInputSignup" tabindex="-1" role="dialog" aria-labelledby="missingInputSignup" aria-hidden="true" data-backdrop="static" data-keyboard="false">

  <div style="color: black; font-weight: 700; font-size:14px; text-align: center; position: relative; top: 12px;">Choose an option to confirm you are not spamming<br>Submit as:</div>
  <br>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= hidden_field_tag 'trick_user', true %>
    <div style= "display: block;">
      <%= radio_button_tag 'generated_username', "anonymous #{@user.id}"  %>
      <%= label_tag "anonymous #{@user.id}" %>
    </div>
  <div style= "position: relative; bottom: 7px;">
    <div style="text-align: center; position: relative; top: 10px; color: #fff; font-weight: bold;">or</div>
    <div style="border-top: solid #fff 2px; width: 58px; height: 0px; margin-left: 8.1em; float: left;"></div>
    <div style="border-top: solid #fff 2px; width: 58px; height: 0px; margin-right: 8.3em; float: right;"></div>
  </div>
  <br>

  <%= f.text_field :username, placeholder: "Create your own screename", style: "width: 15em; height: 40px; border-radius:5px; border: none; color: #4a4a4a; display: block; text-align: center; margin: 0 auto; position: relative; bottom: 5px;" %>
  <%#= f.password_field :password, placeholder: "Password", style: "color: black;" %>
  <%= f.submit "Confirm & Submit!", style: "color: #fff; display: block; margin: 0 auto; border-radius:5px; border: none; text-align: center; width: 15em; height: 35px; background: #7ed321; font-weight: bold; position: relative; top: 5px; &:hover: opacity: .9;" %>
  <% end %>

</div>
