<div class="image-submit-modal"></div>
<div class="signup-modal"></div>

<nav class="nav" role="navigation" id="home-navbar">
  <section class="left">
     <form class="form-horizontal" role="form" action="/search">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" name="search_text" class="form-control" id="st" placeholder="Search">
        </div>
      </div>
    </form>
  </section>

  <section class="right">
    <%= link_to image_tag("logo-icon-large.png"), categories_path, id: "arima-icon" %>
    <%= link_to image_tag("imageupload.png", size: "22x20") + "  UPLOAD", new_question_path, id: "imageupload", class: "hidden-lg" %>
    <%= link_to image_tag("imageupload.png", size: "22x20") + "  UPLOAD", {remote: true, controller: "questions", action: "new_modal"}, id: "imageupload", class: "hidden-xs hidden-sm hidden-md" %>
    <% if user_signed_in? && current_user.username.present? %>
      <%= link_to image_tag("#{current_user.avatar}", size: "35x35", class: "profile-icon"), custom_show_path(:username => current_user.username), class: "nav-user-circle" %>
    <% else %>
      <%= link_to image_tag("anonprofile.png", size: "35x35"), {remote: true, controller: "home", action: "signup_modal"}, id: "anonav-btn" if !user_signed_in? %>
    <% end %>

    <% if !(user_signed_in? && current_user.username.present?) %>
      <%= link_to 'Log In', new_user_session_path, class: "nav-btn hidden-xs hidden-sm hidden-md", id: "nav-login-btn" %>
    <%else%>
      <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, title: "#{current_user.email}", class: "nav-btn", id: "nav-logout-btn" %>
    <% end %>
  </section>
</nav>
