<script>

$(document).ready(function() {

  jQuery("input#question_image_link").change(function () {
    //$('#question_image_link')[0].style.visibility = "hidden";
    //$('.computer_image')[0].style.visibility = "hidden";
    $('#question_image_link')[0].style.display = "none";
    $('.computer_image')[0].style.display = "none";

    //$('.submit-q-container')[0].style.visibility = "visible";
    //$('.modal-finished-button')[0].style.visibility = "visible";
    //$('.g-recaptcha')[0].style.visibility = "visible";

    $('.submit-q-container')[0].style.display = "block";
    $('.modal-finished-button')[0].style.display = "block";
    $('.g-recaptcha')[0].style.display = "block";
  });

});
</script>

<!-- Share New Question Modal -->
<div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="newQuestionModal" aria-hidden="true">

      <%= form_for Question.new do |f| %>
      <section class="submit-questions-container" style="margin-left: auto; margin-right: auto; width: 200px; height: 400px;">
        <%= image_tag("Computer.png", class: "computer_image")%>
        <article class="submit-q-container">
          <p class="submit-q-input-box" style="position: relative; left: 15px;">
            <%= f.text_field :label, name: "submit_question_name", :required => true,
            placeholder: "Add a Title/Description", id: "input-q-title" %>
            <div style="clear: both;"></div>
            <span class="countdown"></span>
          </p>
        </article>

        <div style="clear: both; margin-bottom: 40px;"></div>

        <p class="file">
          <%= f.file_field :image_link %>
          <label for="file">Upload your image</label>
        </p>

        <div style="clear: both; margin-bottom: 20px;"></div>

        <span style="position: relative; left: 10px;">
        <%= recaptcha_tags  class: "captcha"%>
        </span>
        <span class="modal-finished-container" style="position: relative; left: 3px;">
          <%= f.submit "Submit", class: "modal-finished-button", id: !params[:question].nil? ? "blue-button" : "orange-button" %>
        </span>
        </section>
      <% end %>

</div><!-- /.modal -->
