<script type="text/javascript">
$(document).ready(function() {

  $("<%= "." + question.id.to_s %>").css("background-image", "url('/system/uploads/" + "<%= question.image_link %>" + "')");
  $("<%= "." + question.id.to_s %>").css("background-repeat", "no-repeat");
  $("<%= "." + question.id.to_s %>").css("background-position", "center center");
  $("<%= "." + question.id.to_s %>").css("background-size", "650px");

});

</script>

<div class="image-icon-container">
  <% if user_signed_in? && current_user.username.present? %>
    <%= link_to image_tag("#{current_user.avatar}", size: "35x35"), custom_show_path(:username => current_user.username), class: "nav-user-circle" %>
  <%else%>
    <%= link_to image_tag("anonprofile.png"), new_registration_path(resource_name), id: "anon-btn" if !user_signed_in? %>
  <% end %>
  <%= image_tag("cat-icons/#{question.group_id}.png", class: "image-category-icon"  ) %>
  <div class="image-title"><%= question.label %></div>
  <div class="image-author">
    by
    <%#=
    if User.where(id: question.user_id).first.username.nil? || User.where(id: question.user_id).first.username.empty?
      "anonymous"
    else
      link_to User.where(id: question.user_id).first.username, custom_show_path(:username => User.where(id: question.user_id).first.username)
    end
     %>
  </div>

  <div class="image-box-wrapper <%= question.id.to_s %>">
    <div class="image-link-container">
      <a href="<%= question_path(question) %>" title="<%= question.label %>" class="image-link">
        <div class="image-link-div"></div>
      </a>
    </div>
  </div>
  <div class="clearfix">
    <span class="share-icon-container">
      <%= render partial: "questions/share", locals: {
          id: question.id,
          url: "#{request.protocol}#{request.host_with_port}" + question_path(question),
          title: "#{question.label[0..70]}...",
          image: "#{request.protocol}#{request.host_with_port}" + question_path(question)
        }%>
    </span>
    <span class="feed-tagcount">
      <%= image_tag("Tag.png", size: "18x18")%>
      <%=question.tag_count%> Tags
    </span>
  </div>
</div>
