<div class="question-with-category-wrapper">
  <div class="votes">
    <div class="upvote">
      <% if cookies[:guest] == nil %>
        <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{question.id}", class: "vote-image"), upvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% elsif Vote.where(:user_id => cookies[:guest]).where(:question_id => question.id).pluck(:vote_type)[0] == "upvote" %>
        <%= link_to image_tag('upvote_blue.png', id: "upvote-image-#{question.id}", class: "vote-image"), upvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% else %>
        <%= link_to image_tag('upvote_grey.png', id: "upvote-image-#{question.id}", class: "vote-image"), upvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% end %>
    </div>
    <div id="votecount-<%= question.id %>" class="counter">
      <%= "#{question.votecount}" %>
    </div>
    <div class="downvote">
      <% if cookies[:guest] == nil %>
        <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{question.id}", class: "vote-image"), downvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% elsif Vote.where(:user_id => cookies[:guest]).where(:question_id => question.id).pluck(:vote_type)[0] == "downvote" %>
        <%= link_to image_tag('downvote_orange.png', id: "downvote-image-#{question.id}", class: "vote-image"), downvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% else %>
        <%= link_to image_tag('downvote_grey.png', id: "downvote-image-#{question.id}", class: "vote-image"), downvote_question_path(:id => question.id), :method => :put, :remote => true %>
      <% end %>
    </div>
  </div>

  <div class="question-with-category-title-container">
    <% if !answered %>
    <a href="<%= question_path(question) %>" title="<%= question.label %>" class="question-link">
    <% else %>
    <a href="<%= question_path(question) %>" title="<%= question.label %>" class="question-link question-link-answered">
    <% end -%>

      <div class="question-icon-container">
        <%= image_tag("category-icons/#{question.group_id}.png", class: "question-with-category-icon" ) %>
      </div>

      <div class="question-info">
        <p class="question-title"><%= question.label %></p>

        <div class="question-dates">
          <% if !answered %>
            <div class="num-answers">
              <%= "#{question.answers.count} #{question.answers.count == 1 ? 'person answered' : 'people answered'}" %>
            </div>
          <% end -%>

          <% if answered %>
            <div class="answered-when">
              <p class="question-answered-date">
                <%= "#{question.answers.count} #{question.answers.count == 1 ? 'person' : 'people'}" %> answered.
                You answered
                  <% num_days = (Date.today - answer.updated_at.to_date).to_i %>
                  <%= num_days >= 1 ? (num_days > 1 ? "#{num_days} days ago" : "#{num_days} day ago") : "today" %>
              </p>
            </div>
          <% end -%>
        </div>
      </div>
    </a>
  </div>
  <div class="clearfix"></div>
</div>
