
              
<!-- Share New Question Modal -->
<div class="modal fade" id="shareSignupModal" tabindex="-1" role="dialog" aria-labelledby="shareSignupModal" aria-hidden="true">
    <%= link_to "×", show_share_modal_question_path(:user_id => cookies[:guest]), :method => :put, :remote => true, :class => "go-back-link", :data => { :dismiss => "modal" } %>
    <div class="share-modal-content-container">
        <p>Ask Questions, Share Images, and gain amazing insights into what people think!</p>
        <p style="font-weight: normal;">Lets make data fun for everyone! </p>

      <div class="signup-form">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form"}) do |f| %>
          <div class="signup-input">
            <div class="input-username">
              <%= f.text_field :username, placeholder: "Username", class: "input-box" %>
            </div>
            <div class="input-password">
              <%= f.password_field :password, placeholder: "Password", class: "input-box", id: "password" %>
            </div>
          </div>
          <div class="signup-links-bottom">
            <div id="signup-start">
              <%= f.submit "Let's get started!", class: "signup-button" %>
            </div>
            <div class="terms-notice">
              By signing up, you agree to Arima's <a href="/terms">Terms and Conditions</a>.
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div><!-- /.modal -->




          



          