<a href="<%= question_path(question) %>" title="<%= question.label %>" class="trending-question">
  <div class="trending-question-container">
    <div class="trending-question-icon-container">
      <%= image_tag("category-icons/#{question.group_id}.png", class: "trending-question-icon" ) %>
    </div>
    <div class="trending-question-info">
      <p class="trending-question-title"><%= raw(question.label) %></p>
      <p class="trending-question-num-answers"><%= "#{question.answers.count} #{question.answers.count == 1 ? 'person answered' : 'people answered'}" %></p>
    </div>
  </div>
</a>
