<div class="centered-info">
  <section class="user-info-container">
    <% if (user.avatar.url.include? "missing") %>
      <div class="user-photo-default">
        <%= user.username.to_s[0].capitalize %>
      </div>
    <% else %>
      <%= image_tag user.avatar.url(:thumb), class: "img-circle" %>
    <% end %>

    <article class="user-name">
      <span><%= user.username.to_s %></span>
    </article>

    <article class="user-location">
      <span><%= full_location(user) %></span>
    </article>

    <!-- Button trigger modal -->
    <p class="text-center"><button class="profile-edit" data-toggle="modal" data-target="#myModal">Edit profile</button></p>
    <%= render partial: 'profiles/modal_profile_edit', locals: {user: current_user} %>

    <div class="clearfix"></div>
  </section>

</div>
