<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "96ff7309-aea0-409e-ac5e-3ef84cefce86", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="title" content="Arima">
  <meta name="description" content="Arima is a crowdsourced open-data knowledge base. As a contributor, you will have the opportunity to answer questions ranging from a variety of topics, and compare yourself against other users from your area, country and worldwide.">

  <!-- Open Graphs Metadata -->
  <meta property="fb:app_id" content="294175180758323" />
  <meta property="og:title" content="Arima">
  <meta property="og:url" content="http://arima.io">
  <meta property="og:description" content="Arima is a crowdsourced open-data knowledge base. As a contributor, you will have the opportunity to answer questions ranging from a variety of topics, and compare yourself against other users from your area, country and worldwide.">

</head>
<body class="<%= "#{controller_name} #{action_name} #{yield :page_class}" %>">

  <!-- FB -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
              appId      : '294175180758323',
              xfbml      : true,
            version    : 'v2.0'
      });
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- FB END -->

  <!-- SHARETHIS -->
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "96ff7309-aea0-409e-ac5e-3ef84cefce86", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>


  <!-- Twitter Asynchronous Loader -->
  <script>
    window.twttr = (function (d,s,id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
      js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));

    twttr.ready(function (twttr) {
      twttr.events.bind('tweet', function(event) {
        $.ajax({
          url: "/answers/share",
          type: "POST",
          dataType: "script",
          data: {
            share_type: "twitter",
            ans_id: event.target.id
          }
        });
      });
    });
  </script>

  <!--div class="site-wrapper"-->
    <%= render partial: 'common/categories_sidebar' %>

    <%= render partial: "common/navbar" %>

    <div class="site-content">

      <div class="site-content-inner">
        <div id="alert_messages">
          <%= render partial: "common/alert" %>
        </div>

        <%= yield %>
      </div>
    </div>
  <!--/div-->

  <script>
    $(document).ajaxComplete(function(){
      try{
          FB.XFBML.parse();
      }catch(ex){}
    });
  </script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50543337-1', 'arima.io');
    ga('send', 'pageview');

  </script>
</body>
</html>
