<% provide(:title, "Sign Up") %>
<%= javascript_include_tag "home", :type => "text/javascript" %>

<div class="signin-container" id="signup-container">
  <h1 class="signin-title">Sign Up</h1>
  <p class="signin-intro">Arima is a Q&A website for mass opinion.<br>
                          By signing up, you can ask questions, get answers from users all around the world,<br>
                          and see them visualized and compared with the rest of the planet.</p>

  <div class="signin-form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="signin-section">
      <div class="signin-fields-left">
        <div class="username-input">
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "This is how you will appear on Arima.", class: "input-box" %>
          <p class="error-text"> <%= @user.errors['username'].first if @user.errors['username'] %> </p>
        </div>

        <div class="email-input">
          <%= f.label :email_address, id: "email-input" %><%= image_tag ("lock.png"), class: "lock" %>
          <%= f.email_field :email, placeholder: "We'll never share this without your permission.", class: "input-box" %>
          <p class="error-text"> <%= @user.errors['email'].first if @user.errors['email'] %> </p>
        </div>

        <div class="password-input">
          <%= f.label :password, id: "password-input" %><%= image_tag ("lock.png"), class: "lock" %>
          <%= f.password_field :password, placeholder: "Your password is safe with us!", class: "input-box" %>
          <p class="error-text"> <%= @user.errors['password'].first if @user.errors['password'] %> </p>
        </div>
      </div>

      <div class="signin-fields-right">

        <%= f.submit "Start", class: "signup-button" %>

        <p class="login-here-home">
        Already have an account? <%= link_to "Log in here!", new_user_session_path %>
        </p>

        <p class="terms-notice">
          By signing up, you agree to Arima's <a href="/terms">Terms and Conditions</a>.
        </p>

      </div>
    </div>
  </div>
  <% end %>
</div>
